{% block css %}
	<style type="text/css">
		h3{font-size: 16px;margin-top: 0;color:#555555;}	
	</style>

{% endblock css %}

<h3>微博走势</h3>
<hr>
<div id="line" style="height:300px;width:650px;float:left;"></div>
<div id="line_content" style="margin-left:30px;height:300px;width:280px;background-color:whitesmoke;float:left;"></div>
<div id="online_time" style = "width:100%;float: left;margin-top: 10px;">
	<h4 style="font-size:16px;color:#555555">上网时间分布</h4>
	<div id="online_time_table"></div>
</div>
<h3>地理位置</h3><hr>
<!-- <div class="col-lg-6" style="margin-top:15px;"> -->
    <div class="panel panel-default" style='width: 680px;float: left;'>
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div>用户轨迹</div>
        </div>
        <div class="panel-body">
			<div id='active_geo' style='overflow-x:hidden;width:650px;height:520px;float:left;background-color: #F5F5F5;'>
				<div id="user_geo_map"></div>
			</div>
      </div>
  </div>
<!-- </div> -->
<div style='float:left;margin-left:10px;width:270px'>

	<div class="panel panel-default" style='width: 265px;float: left;'>
	    <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
	        <div><span style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#move_location_more"><u>查看更多</u></span>位置转移统计</div>
	    </div>
	    <div class="panel-body" style='padding:0;'>
			<div id='move_location' style='overflow-x:hidden;width:260px;'></div>
		</div>
	</div>

	<div class="panel panel-default" style='width: 265px;float: left;margin-top:10px;'>
	    <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
	        <div><span style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#rank_platform"><u>查看更多</u></span>上网方式排名</div>
	    </div>
	    <div class="panel-body" style='padding:0;'>
			<div id='top_platform' style='overflow-x:hidden;float:left;'>
			</div>
	  	</div>
	</div>
</div>
<div class="panel panel-default" style='width: 967px;float: left;margin-top:10px;'>
    <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
        <div>整体用户地理位置分布</div>
    </div>
    <div class="panel-body">
		<div id='top_geo' style='overflow-x:hidden;width:960px;float:left;'>
			<div id="top_active_geo_line" style="height:350px;width:950px;"></div>
		</div>
  	</div>
 </div>


<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=aBrX8X2tEjcqiKwL78DLmanZ"></script>
<script src="/static/js/portrait/geo.js"></script>
<script src="/static/js/portrait/activemap.js"></script> -->
<div class="modal fade" id="rank_platform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">发布平台排名</h4>
      </div>
      <div class="modal-body" id='top_more_platform'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="move_location_more" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">位置转移统计</h4>
      </div>
      <div class="modal-body" id='move_location_more_detail'>
      </div>
    </div>
  </div>
</div>