<style type="text/css">
table tr th{
	text-align:center;width:300px
}
.dataTables_filter{text-align:right;margin-bottom:5px;
.dataTables_paginate{margin-top:-10px;margin-bottom:-20px;
}
</style>

<div class="col-lg-12">
	<div class="panel panel-default" >
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            群体内部互动情况
        </div>
        <div class="panel-body">
        	<div id='in_group' style='overflow-x:hidden;'></div>
		   	<div class="box-content" style="padding:5px 10px;">
		     <ul class="nav nav-tabs" id="myTab">
		         <li class="active" title="群组内转发视图"><a href="#group_in_picture" data-toggle="tab">群组内转发视图</a></li>
		         <li title="群组内转发列表"><a href="#group_in_tables" data-toggle="tab">群组内转发列表</a></li>
		     </ul>
		     <div id="myTabContent" class="tab-content">
		         <div class="tab-pane active" id="group_in_picture" style="margin-top:10px">
		             <div id='relation_net' style='width:900px;height:350px'>test111111111111</div>                 
		         </div>
		         <div class="tab-pane" id="group_in_tables" style="margin-top:10px">
		         	 <!-- <div type="button" data-toggle="modal" data-target="#modal_group_in_table" style="font-size:16px;cursor:pointer;margin-left: 820px;margin-bottom: 5px;"><u>查看更多</u></div> -->
		             <div id='group_in_table' style='overflow-x:hidden;height:300px'></div>
		         </div>          
		     </div>
		    </div>

		   <div class="box-content" style='padding:0px 10px;'>
		     <div id="weiboTabContent" class="tab-content" style='display:none;'>
				<div id="group_weibo_text" style="margin-top:20px"></div>
				<div id="pageGro" class="cb" style="float:left;width:990px;height:60px;margin-left:350px">
					<div class="pageUp">上一页</div>
                    <div class="pageList">
				        <ul>
				            <li>1</li>
				            <li>2</li>
				            <li>3</li>
				            <li>4</li>
				            <li>5</li>
                        </ul>
				    </div>
				    <div class="pageDown">下一页</div>
				</div>                     
		     </div>
		    </div>
    	</div>
	</div>
</div>

<div class="col-lg-12" style="margin-top:15px;">
	<div class="panel panel-default" >
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            群体与外部互动情况
        </div>
        <div class="panel-body">
        	<div id='out_group' style='overflow-x:hidden;'></div>
		   	<div class="box-content" style="padding:5px 10px;">
		     <ul class="nav nav-tabs" id="outTab">
		         <li class="active" title="群组与外部交互视图"><a href="#group_out_picture" data-toggle="tab">群组与外部交互视图</a></li>
		         <li title="群组与外部交互列表"><a href="#group_out_tables" data-toggle="tab">群组与外部交互列表</a></li>
		     </ul>
		     <div id="outTabContent" class="tab-content">
		         <div class="tab-pane active" id="group_out_picture" style="margin-top:10px">
		             <div id='relation_out_net' style='width:900px;height:400px'></div>                 
		         </div>
		         <div class="tab-pane" id="group_out_tables" style="margin-top:10px">
		         	<!-- <div type="button" data-toggle="modal" data-target="#modal_group_out_table" style="font-size:16px;cursor:pointer;margin-left: 820px;margin-bottom: 5px;"><u>查看更多</u></div> -->
		            <div id='group_out_table' style='overflow-x:hidden;height:400px'></div>
		         </div>          
		     </div>
		    </div>

		   <div class="box-content" style="padding:0px 10px;">
		     <div id="outWeiboTabContent" class="tab-content" style='display:none;'>
				<div id="group_weibo_text" style="margin-top:20px"></div>
				<div id="pageGro" class="cb" style="float:left;width:990px;height:60px;margin-left:350px">
					<div class="pageUp">上一页</div>
				    <div class="pageList">
				        <ul>
				            <li>1</li>
				            <li>2</li>
				            <li>3</li>
				            <li>4</li>
				            <li>5</li>
				        </ul>
				    </div>
				    <div class="pageDown">下一页</div>
				</div>                        
		     </div>
		    </div>
    	</div>
	</div>
</div>

<div id="social_conclusion" style="width:100%;"></div>

<div class="modal fade" id="modal_group_in_table" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:950px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">群组内转发列表</h4>
      </div>
      <div class="modal-body" id='group_in_more_table'>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_group_out_table" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:950px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">群组外转发列表</h4>
      </div>
      <div class="modal-body" id='group_out_more_table'>
      </div>
    </div>
  </div>
</div>
	

