<div id='hashtag' style='overflow-x:hidden;width:300px;height:300;float:left'>
</div>
	<div id='emotion' style='overflow-x:hidden;width:200px;height:300;float:right'>		     	
</div>
<div style="width:450px;height:250px;float:left">
	<div><span style="font-size:17px;margin-left:50px;">关键词云</span><span type="button"data-toggle="modal" data-target="#modal_keyword" style="font-size:17px;margin-left:200px;cursor:pointer;"><u>查看更多</u></span></div>
	<div id="keywordcloud" style="width:450px;height:240px"></div>
</div>
<div style="font-size:18px;margin-bottom:10px;margin-top:270px">群组成员微博</div>
<div>
	<span>选择日期：</span><span id='group_weibo_date' style="margin-left:10px"></span>
	<span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="" title="确定选择" onclick="add_group_tag()">确定</button></span>
</div>
<div id="group_weibo" style="width:960px;margin-top:20px"></div>
<div id="pageGro" class="cb" style="float:left;width:990px;height:60px;margin-left:350px">
	<div class="pageUp">上一页</div>
    <div class="pageList">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="pageDown">下一页</div>
</div>