<!-- <div id='sex' style='float:left;width:300px;height:200px'></div>         -->
<!-- <div id='verify' style='float:right;width:300px;height:200px'></div> -->
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            男女比例
        </div>
        <div class="panel-body">
        	<div id='group_sex' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
	</div>
</div>
<div class="col-lg-4" id='totalnumber'></div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            认证比例
        </div>
        <div class="panel-body">
        	<div id='group_verify' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
    </div>
</div>

<div class='col-lg-12' style="margin-top:15px;">
 <div class="panel panel-default">
    <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            用户自定义标签
    </div>
    <div class="panel-body">
       	<div id='group_tag' style='width:900px;height:400px' >
       	</div>
   	</div>
</div>
</div>
