<link href="/static/personal/css/language.css" rel="stylesheet" type="text/css" />
<link href="/static/personal/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/personal/css/component.css" rel="stylesheet" type="text/css" />
<script src="/static/js/modernizr.custom.js"></script>

<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div><span class="showmore" id="showmore_keyWords" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_keyWords" ><u>查看详情</u></span>关键词</div>
        </div>
        <div class="panel-body">
          <div id="Language" style="width:330px;height:300px;margin:30px 40px;margin:-10px 50px 0px 20px;">
          </div>
      </div>
  </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div><span class="showmore" id="showmore_hashtagWords" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_hashtagWords" ><u>查看详情</u></span>事件标签</div>
        </div>
        <div class="panel-body">
          <div id="hashtag_words" style="width:330px;height:300px;margin:30px 40px;margin:-10px 50px 0px 20px;">
          </div>
      </div>
  </div>
</div>

<div class="col-lg-6" style="margin-top:15px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div><span class="showmore" id="showmore_domain" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_domain" ><u>查看详情</u></span>用户领域分布</div>
        </div>
        <div class="panel-body">
          <div id="preference_domain"  style="width:450px;height:300px;margin-left: -30px;">
          </div>
      </div>
  </div>
</div>

<div class="col-lg-6" style="margin-top:15px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            <div><span class="showmore" id="showmore_topic" style="float:right;cursor:pointer" type="button"data-toggle="modal" data-target="#more_topic" ><u>查看详情</u></span>用户话题分布</div>
        </div>
        <div class="panel-body">
          <div id="preference_topic"  style="width:450px;height:300px;margin-left: -30px;">
          </div>
      </div>
  </div>
</div>
  
<div id="preference_conclusion" style="width:100%;"></div>

<!-- 模态框 -->
<div class="modal fade" id="more_keyWords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">关键词排名</h4>
      </div>
      <div class="modal-body" id='key_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_hashtagWords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content"  style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">事件标签排名</h4>
      </div>
      <div class="modal-body" id='hashtag_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_domain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">用户领域分布</h4>
      </div>
      <div class="modal-body" id='domain_WordList'>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="more_topic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content"  style="width: 500px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-size:18px" id="myModalLabel">用户话题分布</h4>
      </div>
      <div class="modal-body" id='topic_WordList'>
      </div>
    </div>
  </div>
</div>