<!-- <div id='sex' style='float:left;width:300px;height:200px'></div>         -->
<!-- <div id='verify' style='float:right;width:300px;height:200px'></div> -->
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            男女比例
        </div>
        <div class="panel-body">
        	<div id='group_sex' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
	</div>
</div>
<div class="col-lg-4" id='totalnumber'></div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            认证比例
        </div>
        <div class="panel-body">
        	<div id='group_verify' style='float:left;width:300px;height:200px' >
        	</div>
    	</div>
    </div>
</div>

<div class='col-lg-12' style="margin-top:15px;">
 <div class="panel panel-default">
    <div class="panel-heading" style="border-bottom: 1px solid transparent;border-color: #dddddd;">
            用户自定义标签
    </div>
    <div class="panel-body">
       	<div id='group_tag' style='width:900px;height:400px' >
       	</div>
   	</div>
</div>
</div>

<script type="text/javascript">
function draw_sex(){
	var mychart1 =  echarts.init(document.getElementById('group_sex')); 
	var option = {
	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },
	    legend: {
	        orient : 'vertical',
	        x : 'left',
	        data:['男','女']
	    },
	    toolbox: {
	        show : false,
	        feature : {
	            mark : {show: true},
	            dataView : {show: true, readOnly: false},
	            magicType : {
	                show: true, 
	                type: ['pie', 'funnel'],
	                option: {
	                    funnel: {
	                        x: '25%',
	                        width: '50%',
	                        funnelAlign: 'center',
	                        max: 1548
	                    }
	                }
	            },
	            restore : {show: true},
	            saveAsImage : {show: true}
	        }
	    },
	    calculable : true,
	    series : [
	        {
	            name:'性别',
	            type:'pie',
	            radius : ['50%', '70%'],
	            itemStyle : {
	                normal : {
	                    label : {
	                        show : false
	                    },
	                    labelLine : {
	                        show : false
	                    }
	                },
	                emphasis : {
	                    label : {
	                        show : true,
	                        position : 'center',
	                        textStyle : {
	                            fontSize : '30',
	                            fontWeight : 'bold'
	                        }
	                    }
	                }
	            },
	            data:[
	                {value:335, name:'男'},
	                {value:310, name:'女'}
	            ]
	        }
	    ]
	};
	                  
  mychart1.setOption(option);
}
function draw_verify(){
	var mychart1 =  echarts.init(document.getElementById('group_verify')); 
	var option = {
	    tooltip : {
	        trigger: 'item',
	        formatter: "{a} <br/>{b} : {c} ({d}%)"
	    },
	    legend: {
	        orient : 'vertical',
	        x : 'left',
	        data:['已认证','未认证']
	    },
	    toolbox: {
	        show : false,
	        feature : {
	            mark : {show: true},
	            dataView : {show: true, readOnly: false},
	            magicType : {
	                show: true, 
	                type: ['pie', 'funnel'],
	                option: {
	                    funnel: {
	                        x: '25%',
	                        width: '50%',
	                        funnelAlign: 'center',
	                        max: 1548
	                    }
	                }
	            },
	            restore : {show: true},
	            saveAsImage : {show: true}
	        }
	    },
	    calculable : true,
	    series : [
	        {
	            name:'认证情况',
	            type:'pie',
	            radius : ['50%', '70%'],
	            itemStyle : {
	                normal : {
	                    label : {
	                        show : false
	                    },
	                    labelLine : {
	                        show : false
	                    }
	                },
	                emphasis : {
	                    label : {
	                        show : true,
	                        position : 'center',
	                        textStyle : {
	                            fontSize : '20',
	                            fontWeight : 'bold'
	                        }
	                    }
	                }
	            },
	            data:[
	                {value:335, name:'已认证'},
	                {value:310, name:'未认证'}
	            ]
	        }
	    ]
	};
  mychart1.setOption(option);
}
function Draw_totalnumber(){
    $('#totalnumber').empty();
    html = '';
    html += '<a class="well top-block" style="height: 200px;width: 200px;border-radius: 450px;margin-top: 40px;margin-left: 50px;">';
    html += '<div><img src="/static/img/user_group.png" style="height:40px;margin-top:40px"></div>';
    html += '<div>群组总人数</div>'
    html += '<div>' + 20 + '</div></a>';
    $('#totalnumber').append(html);
}
function draw_tag(){
	var mychart1 = echarts.init(document.getElementById('group_tag'));
	var option = {
    tooltip : {
        trigger: 'axis'
    },
    toolbox: {
        show : false,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'value',
            boundaryGap : [0, 0.01]
        }
    ],
    yAxis : [
        {
            type : 'category',
            data : ['巴西','印尼','美国','印度','中国','世界人口(万)']
        }
    ],
    series : [
        {
            name:'2011年',
            type:'bar',
            data:[18203, 23489, 29034, 104970, 131744, 630230]
        }
    ]
};
  mychart1.setOption(option);
}

draw_sex();
draw_verify();
Draw_totalnumber();
draw_tag();
</script>