<div id="line" style="height:300px;width:650px;float:left;background-color:#555"></div>
<div id="line_content" style="margin-left:30px;height:300px;width:280px;background-color:whitesmoke;float:left;"></div>
<div id="online_time" style = "width:100%;">
	<h4>上网时间分布</h4><hr>
	<div id="online_time_table"></div>
</div>
<div id='top_platform' style='overflow-x:hidden;width:450px;float:left;margin-top:20px'></div>
<div id='top_location' style='overflow-x:hidden;width:450px;float:right;margin-top:20px'> </div>
<div id="top_active_geo" style="height:250px;width:1000px;float:left"></div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=aBrX8X2tEjcqiKwL78DLmanZ"></script>
<script src="/static/js/portrait/geo.js"></script>
<script src="/static/js/portrait/activemap.js"></script>
