#Pdetail{
	margin:0px auto;
}
#Pdetail .m-wrap {
  margin: -6px 0;
  overflow: hidden;
}
.clearfix {
  display: block;
}
.li_1 {
  line-height:42px;
  border-bottom:solid 1px #999;
  float:left;
  margin-left:350px;
  width:30%;
}
.m-wrap li {
  line-height: 42px;
  font-size:16px;
} 
.pt_title {
  float: left;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  text-align: right;
  color: #808080;

}
.pt_detail {
  display: block;
  margin-left: 60px;
  word-break: break-all;
padding-left:5px;
}
