<style type="text/css">
#attribute_pattern .col-lg-2{
	padding: 0 5px;
}
#attribute_pattern hr{
	margin: 10px 10px;
}
#pattern_select .col-lg-2{
	width:65px;
	margin:0 5px;
	padding: 0 5px;
}
#pattern_select .input-group-addon{
	padding: 0 5px;
}
#attribute_pattern .cols{
    margin-top: 5px;
}

</style>
<div id="attribute_pattern" style="height:520px;">
	<div class="box col-md-12" style="padding:0px;margin:0px;">
        <div class="box-inner" id = 'box-height' style="height:500px;">
            <div class="box-content">
					<div class="cols" style="margin-top:5px;" id="basic">
						<b class='control-label' style='padding-top:5px;'>属性</b>
                        <div>
    						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">注册地</span>
    						<input id="location" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：北京'>
    						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">活跃地</span>
    						<input id="activity_geo" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：北京'>
    						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">关键词</span>
    						<input id="keywords_string" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='请输入关键词'>
    						
                            <p style="margin:10px 0px;">
        						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">hashtag</span>
        						<input id="hashtag" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='请输入hashtag'>
        						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">备注</span>
        						<input id="remark" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='备注'>
        						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" >心理状态</span>
        						<select id="psychology" name="psycho_status" class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:30px'>
        							<option value="">不限</option>
        							<option value="积极">积极</option>
        							<option value="焦虑">焦虑</option>
        							<option value="生气">生气</option>
        							<option value="悲伤">悲伤</option>
        							<option value="中性">中性</option>
        						</select>
                            </p>
                        </div>
					</div>
					<div class='cols' style="margin:0px;">
                        <div class='col-md-12' style="margin-bottom:0px"  id="domain">
                        	<span style="float:left;line-height: 27px;">领域</span>
                            <div class='col-lg-2' style="margin-left:0px;">
                                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">境内机构</span>                             
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">境外机构</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">民间组织</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">媒体</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="">境外媒体</span>
                            </div>
                            
                            <div id="domain_show" onclick='show_more();' style="font-size:14px;color:#037EAA;cursor: pointer;line-height: 30px;"><u><b>显示更多↓</b></u></div>
                            <div id="more_domain" class="hidden">
                                <div class='col-lg-2' style="margin-left:28px;">
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="">活跃人士</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">商业人士</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">媒体人士</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">法律机构及人士</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">政府机构及人士</span>
                                </div>
                                <div class='col-lg-2'  style="margin-left:28px;">
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">草根</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">高校</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">其他</span>
                                </div>
                                <div onclick="fold_domain();" style="float: left;line-height: 27px;font-size:14px;color:#037EAA;cursor: pointer;"><u><b>收起↑</b></u></div>
                            </div>
                        </div>
                    </div>
					<div class='cols' style="margin-top:5px;" id="topic_string">
                        <div class='col-md-12' style="margin-bottom:4px">
                        	<span style="float:left;line-height: 27px;">话题</span>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="technology">科技类</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="economics">经济类</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="education">教育类</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="military">军事类</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="health">民生类_健康</span>
                            </div>
                            <div id="topic_show" onclick='show_more_topic();' style="font-size:14px;color:#037EAA;cursor: pointer;line-height: 30px;"><u><b>显示更多↓</b></u></div>
                            <div id="more_topic" class="hidden">
                                <div class='col-lg-2'  style="margin-left:28px;">
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="environment">民生类_环保</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="employment">民生类_就业</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="house">民生类_住房</span>
                                </div>
                                <div class='col-lg-2'>
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="social_security">民生类_社会保障</span>
                                </div>
                                <div class='col-lg-2'>
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="trafic">民生类_交通</span>
                                </div>
                                <div class='col-lg-2' style="margin-left:28px;" >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="law">民生类_法律</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="diplomacy">政治类_外交</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="terrorist">政治类_暴恐</span>
                                </div>
                                <div class='col-lg-2'>
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="peace">政治类_地区和平</span>
                                </div>
                                <div class='col-lg-2'>
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="anti_corruption">政治类_反腐</span>
                                </div>
                                <div class='col-lg-2' style="margin-left:28px;">
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="religion">政治类_宗教</span>
                                </div>
                                <div class='col-lg-2' style="margin-left:0px;">
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="entertainment">文体类_娱乐</span>
                                 </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="sports">文体类_体育</span>
                                </div>
                                <div class='col-lg-2' >
                                    <input type='checkbox' class='inline-checkbox' value='option1'>
                                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="others">其他类</span>
                                </div>
                                <div onclick="fold_topic();" style="float: left;line-height: 27px;font-size:14px;color:#037EAA;cursor: pointer;"><u><b>收起↑</b></u></div>
                            </div>
                        </div>
                    </div>
					<div class="cols" id="tag">
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="location">标签</span>
		                <select name="tag_type" class="form-control" style='width:20%; margin-left:0px;display:inline-block;height:30px'></select>
		                <select name="tag_name" class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:30px'></select>
		                <span style="margin-top:10px;"><a id="group_tag_add" style="cursor:pointer;text-decoration:underline;" onclick="attribute_add_tag();">添加</a></span>
					</div>
		            <div id="attribute_tags" style="margin-left:52px;"></div>
					
               		<div class="cols" id="pattern_select">
               			<b class='control-label' style='padding-top:5px;'>模式</b>
						<div class='col-md-12' style="margin:5px 0;">
							<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block;padding-left:0px;" id="geo">所处城市</span>
							<input id="" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：北京'>
							<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block;margin-left:40px;" id="ip">ip地址</span>
							<input id="" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：127.0.0.1'>
						</div>
						<br>
						<div class='col-md-12' style="margin:5px 0;" id="message_type">
							<span style="float:left;color:#555;">微博类型</span>
                            <div class='col-lg-2' style="margin-left:10px;">
                                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">原创</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">转发</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">评论</span>
                            </div>
                        </div>
                        <br>
                        <div class='col-md-12' style="margin:5px 0;color:#555;" id="sentiment">
                        	<span style="float:left;">情&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;绪</span>
                            <div class='col-lg-2' style="margin-left:10px;">
                                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">中性</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">积极</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">生气</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">焦虑</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">生气</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">悲伤</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">厌恶</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">消极其他</span>
                            </div>
               			</div>
               			<div class='col-md-12' style="margin:5px -5px;">
	               			<span class="input-group-addon" style="width:100px;border:1px solid white;float:left;background-color:white;display:inline-block;padding-left:0px;line-height: 25px;">微博发布时间</span>
	                        <input id="weibo_from" type='text' class="form-control" style='width:145px; display:inline-block;height:25px;margin-left:10px;'>&nbsp;-&nbsp;
	                        <input id="weibo_to" type='text' class="form-control" style='width:145px; display:inline-block;height:25px'>

	                    </div>
               		</div>
                    <hr style='width:800px;margin-bottom:0px;'>
                        <div id="information" class="col-md-12" style="padding-top:5px">
                            <label class='control-label'>群组信息
                            </label>
                            <div class='controls'>
                                <div class='col-md-12' style='padding:0px;'>
                                    <div class='col-lg-6' style='padding:0px;'>
                                         <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">名称</span>
                                         <input id="first_name" type='text' class="form-control" style='width:80%; display:inline-block;height:25px' placeholder='（必填）仅包含汉字、英文、数字和下划线'>
                                    </div>
                                    <div class='col-lg-6' style='padding:0px;'>
                                         <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">备注</span>
                                         <input id="first_remarks" type='text' class="form-control" style='width:80%; display:inline-block;height:25px' placeholder='（选填）仅包含汉字、英文、数字和下划线'>
                                    </div>
                                </div>
                            </div>
                        </div>
               		<div class="cols" style='margin-top:11px'>
                      <div class='col-md-12' style='text-align:right; padding-right:120px'>
                       	 <span id="attribute_pattern_commit" onclick="submit_results2();" class="label label-success" style='cursor:pointer; background-color:rgba(69, 133, 195, 0.89);margin-bottom:10px;'>提交</span>
                      </div>
               		</div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    function show_more(){
        $("#attribute_pattern #more_domain").removeClass("hidden");
        $("#attribute_pattern #domain_show").addClass("hidden");
    }
    function fold_domain(){
        $("#attribute_pattern #more_domain").addClass("hidden");
        $("#attribute_pattern #domain_show").removeClass("hidden");
    }
    function show_more_topic(){
        $("#attribute_pattern #more_topic").removeClass("hidden");
        $("#attribute_pattern #topic_show").addClass("hidden");
    }
    function fold_topic(){
        $("#attribute_pattern #more_topic").addClass("hidden");
        $("#attribute_pattern #topic_show").removeClass("hidden");
    }
    attribute_chosen_tag = new Array();
	function attribute_add_tag() {  
        $('#attribute_pattern #box-height').css("height", "520px"); 
        $('#attribute_pattern ').css("height", "540px"); 	
        var type = $('#attribute_pattern [name=tag_type]').val();
        var name = $('#attribute_pattern [name=tag_name]').val();
        var check_str = type + ':' + name;
        if (attribute_chosen_tag[check_str] != undefined){
        }
        else{

            var html = '';
            html += '<span class="mouse" style="margin-right:40px;"><span class="tag_str">'+ check_str;
            html += '</span>&nbsp;<a class="cross" href="#">X</a></span>';
            $('#attribute_tags').append(html);
            attribute_chosen_tag[check_str] = 1;
            $('#attribute_pattern .mouse>a').click(function(){
                var text = $(this).prev().html();
                text = text.split('&')[0];
                attribute_chosen_tag[text] = undefined;
                $(this).parent().remove();
            });
        }
	}

	$('#attribute_pattern #weibo_from').datetimepicker({value:'2016/01/11 00:00',step:10});
	$('#attribute_pattern #weibo_to').datetimepicker({value:'2016/01/17 00:00',step:10});
	var time_from = Date.parse($('#attribute_pattern #weibo_from').val())/1000;
	var time_to = Date.parse($('#attribute_pattern #weibo_to').val())/1000;
	function attribute_pattern_timepicker(str){
	    var date_time = str.split(' ');
	    var dates = date_time[0].split('/');
	    var yy = parseInt(dates[0]);
	    var mm = parseInt(dates[1]) - 1;
	    var dd = parseInt(dates[2]);
	    var times = date_time[1].split(':');
	    var hh = parseInt(times[0]);
	    var minute = parseInt(times[1]);
	    var final_date = new Date();
	    final_date.setFullYear(yy,mm,dd);
	    final_date.setHours(hh,minute);
	    final_date = Math.floor(final_date.getTime()/1000);
	    console.log(final_date);
	}



	function submit_results2(){
		var url_attribute = '/attribute_pattern/?';
		var domain = new Array(); 
		var topic_string = new Array();
        var basic = '';
        var tag_string = new Array();
        $('#attribute_pattern #basic .form-control').each(function(){
            var id = $(this).attr("id");
            var content = $(this).val();
            if(content != ''){
                basic += id +'='+ content + '&';
            }
        });
	    url_attribute += '&'+basic;
        $('#attribute_pattern #domain .inline-checkbox').each(function(){
        if($(this).is(':checked')){
            domain.push($(this).next().text());
        }
        });
        url_attribute += 'domain=' + domain.join(',') + '&topic_string=';
        $('#attribute_pattern #topic_string .inline-checkbox').each(function(){
            if($(this).is(':checked')){
                topic_string.push($(this).next().text());
            }
        });
        url_attribute += topic_string.join(',')+'&tag=';
        
        $('#attribute_pattern #attribute_tags .tag_str').each(function(){           
            var tag = $(this).text();
            var tag_url = '';
            var tag_string = [];
            var tag_divide = tag.split(":");
            var tag_name = tag_divide[0];
            var tag_value = tag_divide[1];
            tag_url += 'tag_name='+ tag_name+ 'tag_value=' + tag_value;            
            tag_string.push(tag_url);
            console.log(tag_string);
            url_attribute += tag_string.join(',');               
        });           
		console.log(url_attribute);
		}
</script>
