<script src="/static/js/portrait/group_attibute.js" charset="utf-8"></script>

<div id="attibute_pattern">
	<div class="box col-md-12" style="padding:0px;margin:0px;">
        <div class="box-inner" id = 'box-height'>
            <div class="box-content" style="padding：0;">
            	<div id="target_attibute"  class="col-md-12">
					<div class="cols" style="margin-top:12px;">
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="location">注册地</span>
						<input id="" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：北京'>
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="activity_geo">活跃地</span>
						<input id="" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：北京'>
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="keywords_string">关键词</span>
						<input id="" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='请输入关键词'>
						<br><br>
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="hashtag">hashtag</span>
						<input id="" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='请输入hashtag'>
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="location">备注</span>
						<input id="" type='text' class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px'  placeholder='备注'>
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="location">心理状态</span>
						<select name="psycho_status" class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:30px'>
							<option value="">不限</option>
							<option value="积极">积极</option>
							<option value="焦虑">焦虑</option>
							<option value="生气">生气</option>
							<option value="悲伤">悲伤</option>
							<option value="中性">中性</option>
						</select> 
					</div>
					<div class='cols' style="margin-top:12px;">
                        <div class='col-md-12' style="margin-bottom:4px">
                        	<span style="float:left;"><b>领域</b></span>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="location">高校</span>                             
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="area">境内机构</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="topic">境外机构</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="activity_location">媒体</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="hashtag">境外媒体</span>
                            </div>
                            <div class='col-lg-2' style="margin-left:28px;">
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block;" id="keywords">民间组织</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="tendention">法律机构及人士</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="psycho_status">政府机构及人士</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="tag">媒体人士</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="tag">活跃人士</span>
                            </div>
                            <div class='col-lg-2'  style="margin-left:28px;">
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="tag">草根</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="tag">商业人士</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="tag">其他</span>
                            </div>
                        </div>
                    </div>
					<div class='cols' style="margin-top:12px;">
                        <div class='col-md-12' style="margin-bottom:4px">
                        	<span style="float:left;"><b>话题</b></span>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="">文体类_娱乐</span>                             
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="">科技类</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="">经济类</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">教育类</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">军事类</span>
                            </div>
                            <div class='col-lg-2' style="margin-left:28px;">
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block;" id="">民生类_健康</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">民生类_环保</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">民生类_就业</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">民生类_住房</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">民生类_交通</span>
                            </div>
                            <div class='col-lg-2' style="margin-left:28px;">
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block;" id="">民生类_社会保障</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">民生类_法律</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">政治类_外交</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">政治类_暴恐</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block;" id="">政治类_宗教</span>
                            </div>
                            <div class='col-lg-2' style="margin-left:28px;">
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">政治类_反腐</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">政治类_地区和平</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">文体类_体育</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="">其他类</span>
                            </div>
                        </div>
                    </div>
					<div class="cols">
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="location">标签</span>
						<!-- <select name="psycho_status" class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:30px'>
							<option value="">不限</option>
							<option value="积极">积极</option>
							<option value="焦虑">焦虑</option>
							<option value="生气">生气</option>
							<option value="悲伤">悲伤</option>
							<option value="中性">中性</option>
						</select>  -->
		                <select name="tag_type" class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:30px'></select>
		                <select name="tag_name" class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:30px'></select>
		                <span style="margin-top:10px;"><a id="group_tag_add" style="cursor:pointer;text-decoration:underline;" onclick="group_add_tag();">添加</a></span>
					</div>
		            <div id="group_tags" style="margin-left:52px;"></div>
					<div class="col-md-12" style='margin-top:11px'>
                      <div class='col-md-12' style='text-align:right; padding-right:35px'>
                       	 <span id="seed_user_commit" onclick="" class="label label-success" style='cursor:pointer; background-color:rgba(69, 133, 195, 0.89)'>提交</span>
                      </div>
                </div>
            	</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	function group_add_tag () {
		console.log('aaaaaaaaaa');
    	var chosen = new Array();
        var type = $('[name=tag_type]').val();
        console.log(type);
        var name = $('[name=tag_name]').val();
        var check_str = type + ':' + name;
        if (chosen[check_str]){
        }
        else{
            var html = '';
            html += '<span class="mouse" style="margin-right:40px;">'+ check_str;
            html += '&nbsp;<a class="cross" href="#">X</a></span>';
            $('#group_tags').append(html);
            chosen[check_str] = '1';

            $('.mouse>a').click(function(){
                var text = $(this).parent().html();
                text = text.split('&')[0];
                delete chosen[text];
                $(this).parent().remove();
            });
        }
	}
</script>
