<style type="text/css">
#attribute_pattern{
  color:#333;
}
#attribute_pattern .col-lg-2{
	padding: 0 15px;
}
#attribute_pattern hr{
	margin: 10px 10px;
}
#pattern_select .col-lg-2{
	width:65px;
	margin:0 5px;
	padding: 0 5px;
}
#attribute_pattern #domain .input-group-addon{
    font-size: 13px;
    margin-top: -3px;
}
#attribute_pattern #topic_string .input-group-addon{
    font-size: 13px;
}
#pattern_select .input-group-addon{
/*	padding: 0 5px;*/
    /*margin: 15px;*/
    font-size: 14px;
}
#attribute_pattern .cols{
    margin-top: 5px;
    padding: 6px 15px;
    margin-bottom: 0px;
}

</style>
<div id="attribute_pattern" style="height:auto;">
	<div class="box col-md-12" style="padding-left:10px;margin-top:0;border: 1px solid #DEDEDE;">
    <!-- <div class="box-inner" id = 'box-height' style="height:auto;"> -->
        <!-- <div class="box-content"> -->
					<div class="cols" style="margin-top:10px;padding: 0px 0px 0px 15px;" id="basic">
						  <b class='control-label' style='padding-top:5px;'>属性</b>
              <div class='col-md-12' style="padding-left:0px;margin-bottom:10px;width:820px;">
                <div class='col-md-4'>
      						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">注册地</span>
      						<input id="location" type='text' class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：北京'>
                </div>
                <div class='col-md-4'>
      						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">活跃地</span>
      						<input id="activity_geo" type='text' class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：北京'>
                </div>
                <div class='col-md-4'>
      						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">关键词</span>
      						<input id="keywords_string" type='text' class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px'  placeholder='多个词用空格隔开'>
                </div>
              </div>
              <div class='col-md-12' style="padding-left:0px;margin-bottom:10px;width:820px;">
                <div class='col-md-4'>
      						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">hashtag</span>
      						<input id="hashtag" type='text' class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px'  placeholder='多个词用空格隔开'>
                </div>
                <div class='col-md-4'>
      						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="">备注</span>
      						<input id="remark" type='text' class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px'  placeholder='备注'>
                </div>
                <!--
                <div class='col-md-4'>
                    <span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" >心理状态</span>
                    <select id="psychology" name="psycho_status" class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px;padding: 0px 10px;'>
                        <option value="">不限</option>
                        <option value="积极">积极</option>
                        <option value="焦虑">焦虑</option>
                        <option value="生气">生气</option>
                        <option value="悲伤">悲伤</option>
                        <option value="中性">中性</option>
                    </select>
                </div>
                -->
              </div>
					</div>
					<div class='cols' style="margin-top:-5px;">
            <div class='col-md-12'   id="domain" style="padding-left:28px;">
              <span style="float:left;line-height: 27px;margin-right:15px;color: #555555;">领域</span>
              <div class='col-lg-2' style="margin-left:0px;">
                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">境内机构</span>                             
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">境外机构</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">民间组织</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">媒体</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="">境外媒体</span>
              </div>
              <div id="domain_show" onclick='show_more();' style="font-size:14px;color:#037EAA;cursor: pointer;line-height: 30px;"><u><b>显示更多</b></u></div>
              <div id="more_domain" class="hidden">
                <div class='col-lg-2' style="">
                    <input type='checkbox' class='inline-checkbox' value='option1'>
                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="">活跃人士</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">商业人士</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">媒体人士</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">法律机构及人士</span>
                </div>
                <div class='col-lg-2' >
                    <input type='checkbox' class='inline-checkbox' value='option1'>
                    <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">政府机构及人士</span>
                </div>
                <div class='col-lg-2'  style="margin-left:43px;">
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">草根</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">高校</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="">其他</span>
                </div>
                <div onclick="fold_domain();" style="float: left;line-height: 27px;font-size:14px;color:#037EAA;cursor: pointer;"><u><b>收起</b></u></div>
              </div>
            </div>
          </div>
					<div class='cols' style="margin-top:-10px;padding-left:28px;" id="topic_string">
            <div class='col-md-12'>
              <span style="float:left;line-height: 27px;margin-right:15px;color: #555555;">话题</span>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="technology">科技类</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="economics">经济类</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="education">教育类</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="military">军事类</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="health">民生类_健康</span>
              </div>
              <div id="topic_show" onclick='show_more_topic();' style="font-size:14px;color:#037EAA;cursor: pointer;line-height: 30px;"><u><b>显示更多</b></u></div>
              <div id="more_topic" class="hidden">
                <div class='col-lg-2'  style="margin-left:43px;">
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="environment">民生类_环保</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="employment">民生类_就业</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="house">民生类_住房</span>
                </div>
                <div class='col-lg-2'>
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="social_security">民生类_社会保障</span>
                </div>
                <div class='col-lg-2'>
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="trafic">民生类_交通</span>
                </div>
                <div class='col-lg-2' style="margin-left:43px;" >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="law">民生类_法律</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="diplomacy">政治类_外交</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="terrorist">政治类_暴恐</span>
                </div>
                <div class='col-lg-2'>
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block;" id="peace">政治类_地区和平</span>
                </div>
                <div class='col-lg-2'>
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="anti_corruption">政治类_反腐</span>
                </div>
                <div class='col-lg-2' style="margin-left:43px;">
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="religion">政治类_宗教</span>
                </div>
                <div class='col-lg-2' style="margin-left:0px;">
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="entertainment">文体类_娱乐</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="sports">文体类_体育</span>
                </div>
                <div class='col-lg-2' >
                  <input type='checkbox' class='inline-checkbox' value='option1'>
                  <span class="input-group-addon" style="border:1px solid white; background-color:white;display:inline-block" id="others">其他类</span>
                </div>
                 <div onclick="fold_topic();" style="float: left;line-height: 27px;font-size:14px;color:#037EAA;cursor: pointer;"><u><b>收起</b></u></div>
              </div>
            </div>
          </div>
					<div class="cols" id="tag" style="margin-top: -10px;padding-left: 30px;">
						<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block" id="location">标签</span>
		        <select name="tag_type" class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px;padding:1px 12px;'></select>
		        <select name="tag_name" class="form-control" style='width:20%; margin-left:15px;display:inline-block;height:25px;padding:1px 12px;'></select>
		        <span style="margin-top:10px;"><a id="group_tag_add" style="color:#037eaa;font-weight:bold;cursor:pointer;text-decoration:underline;" onclick="attribute_add_tag();">添加</a></span>
					</div>
		      <div id="attribute_tags" style="margin-left:98px;"></div>
          <div class="cols" id="pattern_select">
            <b class='control-label' style='padding-top:5px;'>模式</b>
						<div class='col-md-12'   style=' margin-left: -5px;'>
              <div class='col-md-4'>
  							<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block;padding-left:5px;" id="">所处城市</span>
  							<input id="geo" type='text' class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：北京'>
              </div>
              <div class='col-md-4'>
  							<span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block;" id="">IP地址</span>
  							<input id="ip" type='text' class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px'  placeholder='如：127.0.0.1'>
              </div>
              <div class='col-md-4'>
                <span class="input-group-addon" style="width:50px;border:1px solid white;background-color:white; display:inline-block;" id="">倾向性</span>
                <select id="tendency" class="form-control" style='width:63%; margin-left:15px;display:inline-block;height:25px;padding:1px 12px;'>
                    <option value="">不限</option>
                </select>
              </div>
						</div>
						<br>
						<div class='col-md-12'  id="message_type" style="margin-top:10px;margin-left: 15px;">
							<span style="float:left;color:#555;">微博类型</span>
              <div class='col-lg-2' style="margin-left:10px;">
                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">原创</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">转发</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">评论</span>
              </div>
            </div>
            <br>
            <div class='col-md-12' style="margin:5px 0;color:#555;margin-left: 15px;" id="sentiment">
              <span style="float:left;">情绪</span>
              <div class='col-lg-2' style="margin-left:38px;">
                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">中性</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">积极</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">生气</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">焦虑</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">悲伤</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">厌恶</span>
              </div>
              <div class='col-lg-2'>
                <input type='checkbox' class='inline-checkbox' value='option1'>
                <span class="input-group-addon" style="border:1px solid white;background-color:white; display:inline-block" id="">消极其他</span>
              </div>
            </div>
            <div class='col-md-12' style="margin:0px 0px 10px 15px;">
                <input id='time_checkbox' type='checkbox' class='inline-checkbox' style='float:left;' value='option1'>
	            <span class="input-group-addon" style="margin-left:10px;width:50px;border:1px solid white;float:left;background-color:white;display:inline-block;padding-left:0px;line-height: 8px;">时间范围</span>
	            <input id="weibo_from" type='text' class="form-control" style='width:145px; display:inline-block;height:25px;margin-left:20px;' disabled>&nbsp;-&nbsp;
	            <input id="weibo_to" type='text' class="form-control" style='width:145px; display:inline-block;height:25px' disabled>
	          </div>
            <div id="extension" class="col-md-12" style="padding-top:5px;padding-left:0px;">
              <label class='control-label'>扩展规则</label>
              <div class='controls'>
                <div class='col-md-12' style='padding:0px;margin-left: -5px;'>
                  <div class='col-lg-4' >
                    <span class="input-group-addon" style="width:65px;border:1px solid white;float:left;background-color:white;display:inline-block">人数</span>
                    <span style="float: left;"><input style='width:85%;' type='range' id='num-range' min='0' max='200' step='20' value='100' class='inline-checkbox'>
                        0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200
                    </span>
                    <span id="show_num" style="border-radius: 4px;margin-left: -6px;padding: 5px;border: 1px solid #ccc;">100</span>
                  </div>
                  <div class='col-lg-4' >
                    <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">影响力</span>
                    <input id="influ_from" type='text' class="form-control" style='width:25%; display:inline-block;height:25px'  value='50'>&nbsp;-&nbsp;
                    <input id="influ_to" type='text' class="form-control" style='width:25%; display:inline-block;height:25px'  value='100'>
                  </div>
                  <div class='col-lg-4' >
                    <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">重要度</span>
                    <input id="impor_from" type='text' class="form-control" style='width:25%; display:inline-block;height:25px'  value='50'>&nbsp;-&nbsp;
                    <input id="impor_to" type='text' class="form-control" style='width:25%; display:inline-block;height:25px'  value='100'>
                  </div>
                </div>
              </div>
            </div>
            <hr style='width:800px;margin-bottom:0px;'>
            <div id="information" class="col-md-12" style="padding-top:5px;padding-left:0px;">
              <label class='control-label'>群组信息</label>
              <div class='controls'>
                <div class='col-md-12' style='padding:0px;margin-left: 5px;'>
                  <div class='col-lg-6' style='padding:0px;width:48%;'>
                     <span style='float:left;color:#c00;font-size:15px;margin-top:5px;'>*</span>
                     <span class="input-group-addon" style="width:70px;padding-right:0px;border:1px solid white;float:left;background-color:white;display:inline-block">名称</span>
                    <input id="first_name" type='text' class="form-control" style='width:78%; display:inline-block;height:25px' placeholder='（必填）仅包含汉字、英文、数字和下划线'>
                  </div>
                  <div class='col-lg-6' style='padding:0px;'>
                    <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">备注</span>
                    <input id="first_remarks" type='text' class="form-control" style='width:76%; display:inline-block;height:25px' placeholder='（选填）仅包含汉字、英文、数字和下划线'>
                  </div>
                </div>
              </div>
            </div>
            <div class="cols" style='margin-top:11px'>
              <div class='col-md-12' style='text-align:right;padding-right:60px;'>
                <span id="attribute_pattern_commit" onclick="submit_results2();" class="label label-success" style='cursor:pointer; background-color:rgba(69, 133, 195, 0.89);margin-bottom:10px;'>提交</span>
              </div>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
  </div>
</div>


<script type="text/javascript">
  function show_more(){
      $("#attribute_pattern #more_domain").removeClass("hidden");
      $("#attribute_pattern #domain_show").addClass("hidden");
  }
  function fold_domain(){
      $("#attribute_pattern #more_domain").addClass("hidden");
      $("#attribute_pattern #domain_show").removeClass("hidden");
  }
  function show_more_topic(){
      $("#attribute_pattern #more_topic").removeClass("hidden");
      $("#attribute_pattern #topic_show").addClass("hidden");
  }
  function fold_topic(){
      $("#attribute_pattern #more_topic").addClass("hidden");
      $("#attribute_pattern #topic_show").removeClass("hidden");
  }
    attribute_chosen_tag = new Array();
	function attribute_add_tag() {  
        // $('#attribute_pattern #box-height').css("height", "520px"); 
        // $('#attribute_pattern ').css("height", "540px"); 	
        var type = $('#attribute_pattern [name=tag_type]').val();
        var name = $('#attribute_pattern [name=tag_name]').val();
        var check_str = type + '：' + name;
        if (attribute_chosen_tag[check_str] != undefined){
        }
        else{

            var html = '';
            html += '<span class="mouse" style="margin-right:40px;background:#e7ecf6"><span class="tag_str">'+ check_str;
            html += '</span>&nbsp;<span class="cross" style="cursor:pointer;">X</span></span>';
            $('#attribute_tags').append(html);
            attribute_chosen_tag[check_str] = 1;
            $('#attribute_pattern .mouse .cross').click(function(){
                var text = $(this).prev().html();
                text = text.split('&')[0];
                attribute_chosen_tag[text] = undefined;
                $(this).parent().remove();
            });
        }
	}


//日期选择
var date = choose_time_for_mode();
var min_date_ms = new Date()
date.setHours(0,0,0,0);
var current_date = date.format('yyyy/MM/dd hh:mm');
var from_date_time = Math.floor(date.getTime()/1000) - 60*60*24;
min_date_ms.setTime(from_date_time*1000);
var from_date = min_date_ms.format('yyyy/MM/dd hh:mm');
if (global_test_mode == 0){
    $('#attribute_pattern #weibo_from').datetimepicker({value:from_date,step:10});
    $('#attribute_pattern #weibo_to').datetimepicker({value:current_date,step:10});
}
else{
    $('#attribute_pattern #weibo_from').datetimepicker({value:from_date,step:10,minDate:'-1970/01/30',maxDate:'+1970/01/01'});
    $('#attribute_pattern #weibo_to').datetimepicker({value:current_date,step:10,minDate:'-1970/01/30',maxDate:'+1970/01/01'});
}    
attr_bind_click();

function attr_bind_click(){
    $('#attribute_pattern #time_checkbox').click(function(){
        if($(this).is(':checked')){
            $('#attribute_pattern #weibo_from').attr('disabled',false);
            $('#attribute_pattern #weibo_to').attr('disabled',false);
        }
        else{
            $('#attribute_pattern #weibo_from').attr('disabled',true);
            $('#attribute_pattern #weibo_to').attr('disabled',true);
        }
    });
    $('#attribute_pattern #num-range').change(function(){
        var num = $('#attribute_pattern #num-range').val();
        $('#attribute_pattern #show_num').empty();
        $('#attribute_pattern #show_num').append(num);    
    });
}
function attribute_pattern_check(){             // check validation 
  //group_information check starts  
  var dt = new Date();
  dt.setHours(0,0,0,0);
  //console.log('max_date_limit',max_date_limit);
  var max_date_limit_stamp = Date.parse(dt)/1000;
  //console.log('max_date', max_date_limit_stamp);
  var group_name = $('#attribute_pattern #first_name').val();
  var remark = $('#attribute_pattern #first_remarks').val();
  var location = $('#attribute_pattern #location').val();
  var time_from = Date.parse($('#attribute_pattern #weibo_from').val())/1000;
  var time_to = Date.parse($('#attribute_pattern #weibo_to').val())/1000;
  console.log('time_to', time_to);
  var num_range_count = $('#attribute_pattern #num-range').val();
  var influ_from_num = parseFloat($('#attribute_pattern #influ_from').val());
  var influ_to_num =parseFloat($('#attribute_pattern #influ_to').val());
  var impor_from_num = parseFloat($('#attribute_pattern #impor_from').val());
  var impor_to_num = parseFloat($('#attribute_pattern #impor_to').val());
  if (influ_from_num > influ_to_num){
    alert('影响力左侧输入值应小于右侧，请重新输入！')
    return false;
  }
  if (impor_from_num > impor_to_num){
    alert('重要度输入栏左侧输入值应小于右侧，请重新输入！')
    return false;
  }
  if(influ_from_num > 100 || influ_to_num > 100){
    alert('影响力输入值应在0到100之间，请重新输入！');
    return false;
  }
  if(impor_from_num>100 || impor_to_num>100){
    alert('重要度输入值应在0到100之间，请重新输入！');
    return false;
  }
  if($('#attribute_pattern #time_checkbox').is(':checked')){
      if(num_range_count ==0 ){
        alert('扩展规则中人数不能为0，请重新输入！');
        return false;
      }
      if(time_from > time_to){
        alert('起止时间错误，请重新选择！');
        return false;
      }
      if(max_date_limit_stamp < time_to ){
        alert('终止时间最晚不超过今日零点，请重新选择！');
        return false;
      }
  }

  if (group_name.length == 0){
      alert('群体名称不能为空，请重新输入！');
      return false;
  }

  var reg = "^[a-zA-Z0-9_\u4e00-\u9fa5\uf900-\ufa2d]+$";
  if (!group_name.match(reg)){
    alert('群体名称只能包含英文、汉字、数字和下划线,请重新输入!');
    return false;
  }
  if ((remark.length > 0) && (!remark.match(reg))){
    alert('备注只能包含英文、汉字、数字和下划线,请重新输入!');
    return false;
  }
  //other form check starts multi/single
  return true;

}


	function submit_results2(){
    var flag = attribute_pattern_check();
    if(flag){
      var url_attribute = '/detect/attribute_pattern/?';
      var domain = new Array(); 
      var topic_string = new Array();
      var basic_url = '';
      var tag_string = new Array();
      var url_all = new Array();
      $('#attribute_pattern #basic .form-control').each(function(){
        var id = $(this).attr("id");
        var content = $(this).val();
        if(content != ''){
          basic_url = id +'='+ content;
          url_all.push(basic_url);
        }
      });
      
      $('#attribute_pattern #domain .inline-checkbox').each(function(){
        if($(this).is(':checked')){
          domain.push($(this).next().text());
        }
      });
      var domain_url = '';
      if(domain.length != 0 ){
        domain_url += 'domain=' + domain.join(',');
        url_all.push(domain_url);
      }
      
      var topic_url = '';
      $('#attribute_pattern #topic_string .inline-checkbox').each(function(){
        if($(this).is(':checked')){
          topic_string.push($(this).next().text());
        }
      });
      if(topic_string.length != 0){
        topic_url += 'topic_string=' + topic_string.join(',');
        url_all.push(topic_url);
      }  

      var tag_url = ''; 
      $('#attribute_pattern #attribute_tags .tag_str').each(function(){           
        var tag = $(this).text();       
        var tag_replace = tag.replace("\:","\-");           
        tag_string.push(tag_replace);
                     
      }); 
      if(tag_string.length != 0){
        tag_url += 'tag_string=' + tag_string.join(',');
        url_all.push(tag_url)
      }
      
      var geo_url = ''
      var geo_id = $('#attribute_pattern #geo').attr("id");
      var geo_content = $('#attribute_pattern #geo').val();
      if(geo_content != ''){
        geo_url = geo_id +'='+ geo_content;
        url_all.push(geo_url);
      }

      var ip_url = ''
      var ip_id = $('#attribute_pattern #ip').attr("id");
      var ip_content = $('#attribute_pattern #ip').val();
      if(ip_content != ''){
        ip_url = ip_id +'='+ ip_content;
        url_all.push(ip_url);
      }

      var tendency_url = ''
      var tendency_id = $('#attribute_pattern #tendency').attr("id");
      var tendency_content = $('#attribute_pattern #tendency').val();
      if(tendency_content != ''){
        tendency_url = tendency_id +'='+ tendency_content;
        url_all.push(tendency_url);
      }

      var message_url = '';
      var message_string = new Array();
      $('#attribute_pattern #message_type .inline-checkbox').each(function(){
        if($(this).is(':checked')){
          message_string.push($(this).next().text());
        }
      });
      if(message_string.length != 0){
        message_url += 'message_type=' + message_string.join(',');
        url_all.push(message_url);
      }

      var sentiment_url = '';
      var sentiment_string = new Array();
      $('#attribute_pattern #sentiment .inline-checkbox').each(function(){
        if($(this).is(':checked')){
          sentiment_string.push($(this).next().text());
        }
      });
      if(sentiment_string.length != 0){
        sentiment_url += 'sentiment=' + sentiment_string.join(',');
        url_all.push(sentiment_url);
      }
      if ($('#attribute_pattern #time_checkbox').is(':checked')){
          var time_from = Date.parse($('#attribute_pattern #weibo_from').val())/1000;
          var time_to = Date.parse($('#attribute_pattern #weibo_to').val())/1000;
          var timestamp_from_url = '';
          timestamp_from_url = 'timestamp_from=' + time_from;
          url_all.push(timestamp_from_url);
          var timestamp_to_url = '';
          timestamp_to_url = 'timestamp_to=' + time_to;
          url_all.push(timestamp_to_url);
      }

      var task_name_url = ''
      var task_name_id = 'task_name'
      var task_name_content = $('#attribute_pattern #first_name').val();
      if(task_name_content != ''){
        task_name_url =task_name_id +'='+ task_name_content;
        url_all.push(task_name_url);
      }

      var first_remarks_url = ''
      var first_remarks_id = 'state'
      var first_remarks_content = $('#attribute_pattern #first_remarks').val();
      if(first_remarks_content != ''){
        first_remarks_url = first_remarks_id +'='+ first_remarks_content;
        url_all.push(first_remarks_url);
      }

      var num_range_url = '';
      var num_range_count = $('#attribute_pattern #num-range').val();
      num_range_url = 'count=' + num_range_count;
      url_all.push(num_range_url);

      var influ_from_url ='';
      var influ_from_val = $('#attribute_pattern #influ_from').val();
      influ_from_url = 'influence_from=' + influ_from_val;
      url_all.push(influ_from_url);

      var influ_to_url ='';
      var influ_to_val = $('#attribute_pattern #influ_to').val();
      influ_to_url = 'influence_to=' + influ_to_val;
      url_all.push(influ_to_url);

      var important_from_url ='';
      var important_from_val = $('#attribute_pattern #impor_from').val();
      important_from_url = 'important_from=' + important_from_val;
      url_all.push(important_from_url);

      var important_to_url ='';
      var important_to_val = $('#attribute_pattern #impor_to').val();
      important_to_url = 'important_to=' + important_to_val;
      url_all.push(important_to_url);


      url_attribute += url_all.join('&') + '&submit_user=admin';
      console.log(url_attribute);

      $.ajax({
        type:'GET',
        url: url_attribute,
        contentType:"application/json",
        dataType: "json",
        success: callback
      });
      
    }	
	}
  function callback(data){
    //console.log(data);
    if (data == true){
      //redraw_result();
      alert('提交成功！');
      //window.location.reload(); 
    } 
    if(data =='task name invalid'){
        alert('已存在相同名称的群体分析任务,请重试!');
    }
    if(data =='invalid input for condition'){
      alert('请至少选择一个分析条件！');
    }
    if(data == 'invalid input for filter'){
      alert('请输入合理的影响力或重要度范围！');
    }
    if(data == 'invalid input for count'){
      alert('请选择合理的人数！')
    }
  }
</script>
