<div id="seed_user">
    <div class="box col-md-12" style="padding:0px;margin:0px;">
        <div class="box-inner" id = 'box-height'>
            <div class="box-content" style="height:370px">
                <input id="uid_uname" type='text' class="form-control" style='width:27%; margin-left:15px;display:inline-block;height:25px'  placeholder='请输入相关用户的ID或昵称'>
                <div id="attribute" class="col-md-12">
                    <label class='control-label' style='padding-top:5px;'>属性（权重从1到10）：
                         <input id="attr_weight" type='text' class="form-control" style='width:15%; display:inline-block;height:25px'  value='1'>
                    </label>
                    <div class='controls'>
                        <div class='col-md-12' style="margin-bottom:4px">
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="location">注册地</span>                             
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="area">领域</span>
                            </div>
                             <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white;background-color:white; display:inline-block" id="topic">话题</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="activity_location">活跃地</span>
                            </div>
                            <div class='col-lg-2'>
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="hashtag">hashtag</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="keywords">关键词</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="tendention">倾向性</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="psycho_status">心理状态</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="tag">自定义标签</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="structure" class="col-md-12" style="padding-top:5px">
                    <label class='control-label'>结构（权重从1到10）：
                         <input id="stru_weight" type='text' class="form-control" style='width:15%; display:inline-block;height:25px'  value='1'>
                    </label>
                    <div class='controls'>
                        <div class='col-md-12'>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="repost">转发关系</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="comment">评论关系</span>
                            </div>
                            <div class='col-lg-2' >
                                <input type='checkbox' id="hop_checkbox"class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="hop">跳数</span>
                            </div>
                            <div class='col-lg-3'>
                                <input type='radio' name="hop_choose" value='1' checked='checked' disabled>
                                <span class="input-group-addon" style="width:30px;border:1px solid white; background-color:white;display:inline-block" >1</span>
                                <input type='radio' name="hop_choose" value='2' disabled>
                                <span class="input-group-addon" style="width:30px;border:1px solid white; background-color:white;display:inline-block" >2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="events" class="col-md-12" style="padding-top:5px">
                    <label class='control-label'>参与事件筛选
                    </label>
                    <div class='controls'>
                        <div class='col-md-12' style='padding:0px;'>
                            <div class='col-lg-4' >
                                 <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">关键词</span>
                                 <input id="events_keywords" type='text' class="form-control" style='width:65%; display:inline-block;height:25px' placeholder='多个词用空格隔开'>
                            </div>
                            <div class='col-lg-7' >
                                 <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">时间</span>
                                 <input id="events_from" type='text' class="form-control" style='width:145px; display:inline-block;height:25px'>&nbsp;-&nbsp;
                                 <input id="events_to" type='text' class="form-control" style='width:145px; display:inline-block;height:25px'>
                            </div>
                            <!--
                            <div class='col-lg-2' >
                                <input type='checkbox' class='inline-checkbox' value='option1'>
                                <span class="input-group-addon" style="width:75px;border:1px solid white; background-color:white;display:inline-block" id="repost">转发关系</span>
                            </div>
                            <div class='col-lg-3'>
                                <input type='radio' name="step_choose" value='1' checked='checked' disabled>
                                <span class="input-group-addon" style="width:30px;border:1px solid white; background-color:white;display:inline-block" >1</span>
                                <input type='radio' name="step_choose" value='2' disabled>
                                <span class="input-group-addon" style="width:30px;border:1px solid white; background-color:white;display:inline-block" >2</span>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
                <div id="extension" class="col-md-12" style="padding-top:5px">
                    <label class='control-label'>扩展规则
                    </label>
                    <div class='controls'>
                        <div class='col-md-12' style='padding:0px;'>
                            <div class='col-lg-4' >
                                <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">人数</span>
                                <span><input style='width:50%;' type='range' id='num-range' min='0' max='200' step='20' value='100' class='inline-checkbox'>
                                    0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200
                                </span>
                            </div>
                            <div class='col-lg-4' >
                                 <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">影响力</span>
                                 <input id="influ_from" type='text' class="form-control" style='width:25%; display:inline-block;height:25px'  value='50'>&nbsp;-&nbsp;
                                 <input id="influ_to" type='text' class="form-control" style='width:25%; display:inline-block;height:25px'  value='100'>
                            </div>
                            <div class='col-lg-4' >
                                 <span class="input-group-addon" style="width:75px;border:1px solid white;float:left;background-color:white;display:inline-block">重要度</span>
                                 <input id="impor_from" type='text' class="form-control" style='width:25%; display:inline-block;height:25px'  value='50'>&nbsp;-&nbsp;
                                 <input id="impor_to" type='text' class="form-control" style='width:25%; display:inline-block;height:25px'  value='100'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style='margin-top:11px'>
                    <div class='col-md-12' style='text-align:right; padding-right:35px'>
                        <span id="seed_user_commit" onclick="seed_user_data();" class="label label-success" style='cursor:pointer; background-color:rgba(69, 133, 195, 0.89)'>提交</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('#seed_user #hop_checkbox').click(function(){
    if($(this).is(':checked')){
        $('#seed_user [name="hop_choose"]').attr('disabled',false);
    }
    else{
        $('#seed_user [name="hop_choose"]').attr('disabled', true);
    }
});
//$('#seed_user #events_from').datetimepicker();
$('#seed_user #events_from').datetimepicker({value:'2015/04/15 05:03',step:10});
$('#seed_user #events_to').datetimepicker({value:'2015/04/15 05:03',step:10});

//获取选择的条件，把参数传出获取返回值
function seed_user_data(){
    var url = '/manage/imagine/?keywords=';
    var keywords = new Array();
    var structure = new Array();
    var weight = new Array();
    $('#seed_user #attribute .inline-checkbox').each(function(){
        if($(this).is(':checked')){
            keywords.push($(this).next().attr('id'));
        }
    });
    url += keywords.join(',') + '&structure=';
    $('#seed_user #structure .inline-checkbox').each(function(){
        if($(this).is(':checked')){
            structure.push($(this).next().attr('id'));
        }
    });
    url += structure.join(',');
    console.log($('#seed_user #attr_weight').val());
    console.log($('#seed_user #stru_weight').val());
    console.log($('#seed_user #uid_uname').val());
    console.log($('#seed_user #num-range').val());
    console.log($('#seed_user #influ_from').val());
    console.log($('#seed_user #influ_to').val());
    console.log($('#seed_user #impor_from').val());
    console.log($('#seed_user #impor_to').val());
    console.log($('#seed_user #events_keywords').val());
    seed_user_timepicker($('#seed_user #events_from').val());
    seed_user_timepicker($('#seed_user #events_to').val());
    if ($('#seed_user #hop_checkbox').is(':checked')){
        console.log($('#seed_user [name="hop_choose"]:checked').val());
    }
    /*
    $('#seed_user[name="step_choose"]').each(function(){
        if($(this).is(':checked')){
            field = $(this).attr('id');
        }
    });
    */
    console.log(url);
    return url;
}
function seed_user_timepicker(str){
    var date_time = str.split(' ');
    var dates = date_time[0].split('/');
    var yy = parseInt(dates[0]);
    var mm = parseInt(dates[1]) - 1;
    var dd = parseInt(dates[2]);
    var times = date_time[1].split(':');
    var hh = parseInt(times[0]);
    var minute = parseInt(times[1]);
    var final_date = new Date();
    final_date.setFullYear(yy,mm,dd);
    final_date.setHours(hh,minute);
    final_date = Math.floor(final_date.getTime()/1000);
    console.log(final_date);
}

</script>
