/* tabshow */
.tabshow * {
    margin:0;
    padding:0;
    list-style-type:none;
}
.tabshow {
	width:750px;
	height:422px;
	position:relative;
	margin:40px auto;
}
.tabshow .hide {
	display:none;
}
.tabshow .udbtn, .tabshow .tabTagBox li {
	background:url(/static/img/tab-all-bg.png) no-repeat;
}
.tabshow .udbtn {
	display:block;
	width:194px;
	height:35px;
	line-height:999em;
	overflow:hidden;
}
.tabshow .uPrev {
	background-position:0 -580px;
}
.tabshow .dNext {
	background-position:0 -615px;
}
.tabshow .tabTagBox {
	height:348px;
	width:194px;
	overflow:hidden;
	position:relative;
	z-index:9;
	margin:2px 0;
}
.tabshow .tabTagBox .tabTagList {
	position:absolute;
	left:0;
	height:999em;
}
.tabshow .tabTagBox li {
	float:left;
	width:193px;
	height:58px;
	line-height:99em;
	overflow:hidden;
	cursor:pointer;
}
.tabshow .tabTagBox li.current {
	width:194px;
}
.tabshow .tabTagBox li#tag01 {
	background-position:-194px 0;
}
.tabshow .tabTagBox li#tag01.current {
	background-position:0 0;
}
.tabshow .tabTagBox li#tag02 {
	background-position:-194px -58px;
}
.tabshow .tabTagBox li#tag02.current {
	background-position:0 -58px;
}
.tabshow .tabTagBox li#tag03 {
	background-position:-194px -116px;
}
.tabshow .tabTagBox li#tag03.current {
	background-position:0 -116px;
}
.tabshow .tabTagBox li#tag04 {
	background-position:-194px -174px;
}
.tabshow .tabTagBox li#tag04.current {
	background-position:0 -174px;
}
.tabshow .tabTagBox li#tag05 {
	background-position:-194px -232px;
}
.tabshow .tabTagBox li#tag05.current {
	background-position:0 -232px;
}
.tabshow .tabTagBox li#tag06 {
	background-position:-194px -290px;
}
.tabshow .tabTagBox li#tag06.current {
	background-position:0 -290px;
}
.tabshow .tabTagBox li#tag07 {
	background-position:-194px -348px;
}
.tabshow .tabTagBox li#tag07.current {
	background-position:0 -348px;
}
.tabshow .tabTagBox li#tag08 {
	background-position:-194px -406px;
}
.tabshow .tabTagBox li#tag08.current {
	background-position:0 -406px;
}
.tabshow .tabTagBox li#tag09 {
	background-position:-194px -464px;
}
.tabshow .tabTagBox li#tag09.current {
	background-position:0 -464px;
}
.tabshow .tabTagBox li#tag10 {
	background-position:-194px -522px;
}
.tabshow .tabTagBox li#tag10.current {
	background-position:0 -522px;
}
.tabshow .tabcon {
	position:absolute;
	top:0;
	right:0;
	z-index:1;
	border:solid 1px #C00F15;
	background:#FCFCFC;
	height:420px;
	width:555px;
	overflow:hidden;
}
.tabshow .tabcon h2 {
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#333;
	padding:10px 0 10px 25px;
}
.tabshow .tabcon li {
	float:left;
	width:152px;
	height:177px;
	overflow:hidden;
	margin:0 0 10px 24px;
	display:inline;
}
.tabshow .tabcon li .pic {
	display:block;
	border:solid 1px #ddd;
	width:150px;
	height:150px;
}
.tabshow .tabcon li .pic:hover {
	border:solid 1px #C00F15;
}
.tabshow .tabcon li .tit {
	height:20px;
	line-height:20px;
	display:block;
	margin:5px 0 0 0;
}
.tabshow .tabcon li .tit a {
	font-size:12px;
	color:#5e5e5e;
	text-decoration:none;
}
