.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '/static/img/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.3;
	/*filter: alpha(opacity = 10);*/
}
