<link href="/static/personal/css/activity.css" rel="stylesheet" type="text/css" />
<div id="Activezh" style="height:300px;width:750px"></div>
<div id ="Plocation">
	<div class="LocationTitle fleft" style="width:100%">位置分布TOP5</div>
	<div class="LocationDetail" id="Top5">
		<dl>
			<dt><span class="LocationImg mleft fleft"></span><span class="Acity fleft" id="top1">北京</span></dt>
		</dl>
		<dl>
			<dt><span class="LocationImg fleft mleft"></span><span class="Acity fleft" id="top2">上海</span></dt>
		</dl>
		<dl>
			<dt><span class="LocationImg fleft mleft"></span><span class="Acity fleft" id="top3">广州</span></dt>
		</dl>
		<dl>
			<dt><span class="LocationImg fleft mleft"></span><span class="Acity fleft" id="top4">深圳</span></dt>
		</dl>
		<dl>
			<dt><span class="LocationImg fleft mleft"></span><span class="Acity fleft" id="top5">杭州</span></dt>
		</dl>
	</div>
</div>




<div id="trend" style="height:50px;width:950px">
该用户的活跃时间段为：<span class="">08:00-12:00</span>
</div>
<script type="text/javascript">
 function Activity(){
  this.ajax_method = 'GET';
}
Activity.prototype = {   //获取数据，重新画表
  call_sync_ajax_request:function(url, method, callback){
    $.ajax({
      url: url,
      type: method,
      dataType: 'json',
      async: false,
      success:callback
    });
  },

  active:function(data){
	var item = data.activity_time;
	//时间段处理
  }
 }
var Activity = new Activity();
url = '/attribute/activity/?uid=1642591402' 
Activity.call_sync_ajax_request(url, Activity.ajax_method, Activity.active);
var location_geo = parent.personalData.activity_geo;
//console.log(location_geo);
$('#Top5').empty();
var html = '';
for (i=1;i<location_geo.length+1;i++){
	//console.log(location_geo[i][0]); 
	html += '<dl><dt><span class="LocationImg  fleft"></span><span class="Acity fleft" id="top1">'+location_geo[i-1][0]+'</span></dt></dl>'
}
$('#Top5').append(html);
</script>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('Activezh')); 
        
        var option = {
			title : {
                        'text':'微博时间走势',
						textStyle:{
                        fontSize:20,
                        fontFamily:'Microsoft YaHei UI',
                        fontWeight:400,
                    },
            },
            tooltip : {
        		trigger: 'axis'
    			},
    		legend: {
        				data:['原创','转发','评论']
    			},
    		calculable : false,
    		xAxis : [
        				{
            				type : 'category',
            				boundaryGap : false,
            				data : ['周一','周二','周三','周四','周五','周六','周日']
        				}
   		 			],
    		yAxis : [
        				{
            				type : 'value'
       	 				}
    				],
    		series : [
        				{
            			name:'原创',
            			type:'line',
            			stack: '总量',
            			itemStyle: {normal: {areaStyle: {type: 'default'}}},
            			data:[120, 132, 101, 134, 90, 230, 210]
        				},
        				{
            			name:'转发',
            			type:'line',
            			stack: '总量',
            			itemStyle: {normal: {areaStyle: {type: 'default'}}},
            			data:[220, 182, 191, 234, 290, 330, 310]
        				},
        				{
            			name:'评论',
            			type:'line',
            			stack: '总量',
            			itemStyle: {normal: {areaStyle: {type: 'default'}}},
            			data:[150, 232, 201, 154, 190, 330, 410]
        				}
    			]
        };
        // 为echarts对象加载数据 
        myChart.setOption(option); 
    </script>

