<link href="/static/personal/css/activity.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(function(){
	
	//首页大事记
	$('.course_nr2 li').find('.shiji').slideDown(600);
	
});
</script>
<style>
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
.font12{ font-weight:normal; font-size:12px;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
/* 时间轴样式 */
.course_nr{height:70px; background:url(/static/img/ico9.gif) repeat-x center;}
.course_nr li{ float:left; padding-top:30px; width:130px; text-align:center; position:relative; margin-left:5px;}
.shiji{ position:absolute; width:100%; left:0; top:-20px; display:none;}
.ico{ height:67px; line-height:67px; color:#518dbb; font-weight:bold; background:url(/static/img/ico11.gif) no-repeat center top; margin-bottom:8px;}
.ms{ width:100px;line-height:14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-left:18px;}
#Alocation{height:auto;width:180px;margin-left:100px;margin-top:50px;}
</style>
<div style="text-align:center;width:100%;font-size:20px;">一周轨迹活动</div>
<div class="clearfix course_nr" style="width:100%;">
	<ul class="course_nr2">
		<li>
			<div class="shiji">
				<p class="font12 ico" id="d1" ></p>
				<p class="ms" id="city1"></p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="font12 ico" id="d2"></p>
				<p class="ms" id="city2"></p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="font12 ico" id="d3"></p>
				<p class="ms" id="city3"></p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="font12 ico" id="d4"></p>
				<p class="ms" id="city4"></p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="font12 ico" id="d5"></p>
				<p class="ms" id="city5"></p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="font12 ico" id="d6"></p>
				<p class="ms" id="city6"></p>
			</div>
		</li>
		<li>
			<div class="shiji">
				<p class="font12 ico" id="d7"></p>
				<p class="ms" id="city7"></p>
			</div>
		</li>
	</ul>
</div>


<div id="Activezh" style="height:300px;width:680px;margin-top:30px;" class="fleft"></div>
<div id ="Alocation" class="">
	<div class="LocationTitle fleft" style="width:100%">位置分布TOP5</div>
	<div class="LocationDetail" id="Top5">
		<dl>
			<dt><span class="LocationImg mleft fleft"></span><span class="Acity fleft" id="top1"></span></dt>
		</dl>
		<dl>
			<dt><span class="LocationImg fleft mleft"></span><span class="Acity fleft" id="top2"></span></dt>
		</dl>
		<dl>
			<dt><span class="LocationImg fleft mleft"></span><span class="Acity fleft" id="top3"></span></dt>
		</dl>
		<dl>
			<dt><span class="LocationImg fleft mleft"></span><span class="Acity fleft" id="top4"></span></dt>
		</dl>
		<dl>
			<dt><span class="LocationImg fleft mleft"></span><span class="Acity fleft" id="top5"></span></dt>
		</dl>
	</div>
</div>



<div class="" style="width:1000px;">
	<div id="" style="height:30px;width:950px;line-height:32px;">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<h4 >该用户的活跃时间段为：<span id="time1"></span> 和 <span id="time2"></span></h4>
	</div>
	<div id="" style="height:30px;width:950px">
		<span class="fleft" style="margin-right:10px; width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<h4 style="line-height:32px;"><span id="saysay"></span></h4>
	</div>
	<div id="" style="height:30px;width:950px">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<h4 style="line-height:32px;"><span id="location_description1"></span><span id="location_description2"></span><span id="location_description3"></span><span id="location_description4"></span></h4>
	</div>
</div>
<script src="/static/js/highstock.js" charset="utf-8"></script>
<script src="/static/js/exporting.js" charset="utf-8"></script>
<script src="/static/js/portrait/location.js" charset="utf-8"></script>
<script>
function Geo(){
  this.ajax_method = 'GET';
}
Geo.prototype = {   //获取数据，重新画表
  call_sync_ajax_request:function(url, method, callback){
    $.ajax({
      url: url,
      type: method,
      dataType: 'json',
      async: false,
      success:callback
    });
  },
geo:function(data){
	
	var geo_data = data[0]
	//console.log(geo_data);
	document.getElementById('saysay').innerHTML = data[1];
	var date = [];
	var citys = [];
	for(var key in geo_data){
		date.push(geo_data[key][0]);
		citys.push(geo_data[key][1][0])
	}
	//console.log(citys);
	//console.log(date);
	for(i=0;i<date.length;i++){
		document.getElementById('d'+(i+1)).innerHTML = date[i];
	}
	for(i=0;i<citys.length;i++){
		if(citys[i][0][0]){
			document.getElementById('city'+(i+1)).innerHTML = citys[i][0];
		}else{
			document.getElementById('city'+(i+1)).setAttribute('color','#999');
			document.getElementById('city'+(i+1)).innerHTML = '未发布微博';
		}
		
	}
}
}
var Geo = new Geo();
url = '/attribute/geo_track/?uid='+parent.personalData.uid ;
Geo.call_sync_ajax_request(url, Geo.ajax_method, Geo.geo);

</script>
<script type="text/javascript">
// Date format
Date.prototype.format = function(format) {
    var o = {
        "M+" : this.getMonth()+1, //month
        "d+" : this.getDate(), //day
        "h+" : this.getHours(), //hour
        "m+" : this.getMinutes(), //minute
        "s+" : this.getSeconds(), //second
        "q+" : Math.floor((this.getMonth()+3)/3), //quarter
        "S" : this.getMilliseconds() //millisecond
    }
    if(/(y+)/.test(format)){
        format=format.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
    }
    for(var k in o){
        if(new RegExp("("+ k +")").test(format)){
            format = format.replace(RegExp.$1, RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length));
        }
    }
    return format;
}
 function Activity(){
  this.ajax_method = 'GET';
}
Activity.prototype = {   //获取数据，重新画表
  call_sync_ajax_request:function(url, method, callback){
    $.ajax({
      url: url,
      type: method,
      dataType: 'json',
      async: false,
      success:callback
    });
  },
  active:function(data){
	var item = data.activity_time;
        for (i=0;i<item.length;i++){
           var date = item[i][0]/(15*60*16);
           switch(date)
		   {
				case 0: x = "00:00-04:00";break;
				case 1: x = "04:00-08:00";break;
				case 2: x = "08:00-12:00";break;
				case 3: x = "12:00-16:00";break;
				case 4: x = "16:00-20:00";break;
				case 5: x = "20:00-24:00";break;
		   }
		   var str ="time"+(i+1);
		   time = document.getElementById(str);
		   time.innerHTML = x;
        }
    var trend = data.activity_trend;
	var data_count=[];
	var data_time = [];
    for(i=0;i<trend.length;i++){
        var time = getDate(trend[i][0]);
        var count = trend[i][1];
		data_time.push(time);
		data_count.push(count);
    }
	//Draw_trend:
	 $('#Activezh').highcharts({
        chart: {
            type: 'spline',// line,
            animation: Highcharts.svg, // don't animate in old IE
            style: {
                fontSize: '12px',
                fontFamily: 'Microsoft YaHei'
            }},
        title: {
            text: '微博时间走势图',
			align:'left',
			fontSize:'20',
        },
        subtitle: {
            text: '',
            x: -20
        },
    lang: {
            printChart: "打印",
            downloadJPEG: "下载JPEG 图片",
            downloadPDF: "下载PDF文档",
            downloadPNG: "下载PNG 图片",
            downloadSVG: "下载SVG 矢量图",
            exportButtonTitle: "导出图片"
        },
        xAxis: {
            categories: data_time,
            labels:{
              rotation: 0,
              step: 6
            }
        },
        yAxis: {
			min:0,
            title: {
                text: '微博总量 (条)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '条',
            xDateFormat: '%H:%M:%S'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name:'微博量',
            data: data_count
        }]
    });
  }
}
function getDate(tm){
    var tt = new Date(parseInt(tm)*1000).format("MM-dd hh");
    return tt;
}
var Activity = new Activity();
url = '/attribute/activity/?uid='+parent.personalData.uid;
Activity.call_sync_ajax_request(url, Activity.ajax_method, Activity.active);
var location_geo = parent.personalData.activity_geo;
$('#Top5').empty();
var html = '';
if(location_geo){
	for (i=1;i<location_geo.length+1;i++){
	//console.log(location_geo[i][0]); 
	html += '<dl><dt><span class="LocationImg  fleft"></span><span class="Acity fleft" id="top1">'+location_geo[i-1][0]+'</span></dt></dl>'
	}
}else{
	html += '<dl><dt><span class="LocationImg  fleft"></span><span class="Acity fleft" id="top1">暂时无此数据</span></dt></dl>'
}
$('#Top5').append(html);
</script>








