			<div class="function1">
				<img src="/static/personal/images/pic_fun_project_detailed_001.gif"/>
				<p class="p1">计划任务</p>
				<p class="p2">在线、实时创建维护项目计划，并可向他人发起项目任务，指...</p>
			</div>
			<div class="function1">
				<img src="/static/personal/images/pic_fun_project_detailed_002.gif"/>
				<p class="p1">甘特图</p>
				<p class="p2">在线编辑项目甘特图，可与专业工具媲美，而且操作更为简单...</p>
			</div>
			<div class="function1">
				<img src="/static/personal/images/pic_fun_project_detailed_003.gif"/>
				<p class="p1">项目汇报</p>
				<p class="p2">定期汇报项目的最新进展，将汇报与具体的项目进行绑定；领导...</p>
			</div>
			<div class="function2">
				<img src="/static/personal/images/pic_fun_project_detailed_004.gif"/>
				<p class="p1">工作负荷</p>
				<p class="p2">自动提取项目计划、任务中的员工工作量，以不同的颜色标识员...</p>
			</div>
