<link href="/static/personal/css/basic.css" rel="stylesheet" type="text/css" />
<div id="Pdetail">
    <div class="m-wrap" style="margin-top:30px;">
		<ul class="clearfix">
            <li class="li_1">
				<span class="pt_title">用户ID</span>
				<span class="pt_detail" id="userId" >1234567890</span>
			</li>
			<li class="li_1">
				<span class="pt_title">注册地</span>
				<span class="pt_detail" id="userLocation" >北京</span>
			</li>
			<li class="li_1">
				<span class="pt_title">性别</span>
				<span class="pt_detail" id="userGender" >男</span>
			</li>
			<li class="li_1">
				<span class="pt_title">领域</span>
				<span class="pt_detail" id="userDomain" >文化</span>
			</li>
			<li class="li_1">
				<span class="pt_title">话题</span>
				<span class="pt_detail" id="userTopic" >计算机</span>
			</li>
			<li class="li_1">
				<span class="pt_title">粉丝数</span>
				<span class="pt_detail" id="userFans" >123456</span>
			</li>
			<li class="li_1">
				<span class="pt_title">关注数</span>
				<span class="pt_detail" id="userFriend" >123490</span>
			</li>
			<li class="li_1">
				<span class="pt_title">在线方式</span>
				<span class="pt_detail" id="userOnline" >网络</span>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
    var uid = document.getElementById('userId');
    uid.innerHTML = parent.personalData.uid;
    var userlocation = document.getElementById('userLocation');
    userlocation.innerHTML = parent.personalData.location;
    var gender = document.getElementById('userGender');
    gendernum = parent.personalData.gender;
    if (gendernum==1){
        gender.innerHTML = '男';
    }else{
        gender.innerHTML = '女';
    }
	var domain = document.getElementById('userDomain');
	domain.innerHTML = parent.personalData.domain;
	var topic = document.getElementById('userTopic');
	topicdict = parent.personalData.topic;
	var str = '';
	for(i=0;i<topicdict.length;i++){
		if (i == (topicdict.length -1)){
			str += topicdict[i][0];
		}else{
			str = str + topicdict[i][0] +',';
		}
		
	}
	topic.innerHTML = str;
    var fans = document.getElementById('userFans');
    fans.innerHTML = parent.personalData.fansnum;
    var friends = document.getElementById('userFriend');
    friends.innerHTML = parent.personalData.friendsnum;
	var pattern = document.getElementById('userOnline');
	//console.log(parent.personalData.online_pattern[0][0]);
	pattern.innerHTML = parent.personalData.online_pattern[0][0];
</script>
