<link href="/static/personal/css/basic.css" rel="stylesheet" type="text/css" />
<div id="Pdetail">
    <div class="m-wrap" style="margin-top:30px;">
		<ul class="clearfix">
			<li class="li_1">
				<span class="pt_title">UID :</span>
				<span class="pt_detail">1234567890</span>
			</li>
			<li class="li_1">
				<span class="pt_title">注册地 :</span>
				<span class="pt_detail">北京</span>
			</li>
			<li class="li_1">
				<span class="pt_title">性别 :</span>
				<span class="pt_detail">男</span>
			</li>
			<li class="li_1">
				<span class="pt_title">粉丝数 :</span>
				<span class="pt_detail">123456</span>
			</li>
			<li class="li_1">
				<span class="pt_title">关注数 :</span>
				<span class="pt_detail">123490</span>
			</li>
			<li class="li_1">
				<span class="pt_title">收藏数 :</span>
				<span class="pt_detail">12390</span>
			</li>
		</ul>
	</div>
</div>
