<link href="/static/personal/css/basic.css" rel="stylesheet" type="text/css" />
<!-- <script type="text/javascript" src='/static/js/esl.js'></script> -->
<style>
/*#re_influence{
  position: fixed;
  margin-top: -200px;
  left: 65%;
  top: 40%;
  z-index: 1002;
  width: 500px;
  background: #FFF none repeat scroll 0% 0%;
  border: 1px solid #AA8BE8;
  height: 600px;
  margin-left: -460px;
  font_family: "Microsoft YaHei UI";
}*/
#cmt_influence{
  position: fixed;
  margin-top: -200px;
  left: 65%;
  top: 40%;
  z-index: 1002;
  width: 500px;
  background: #FFF none repeat scroll 0% 0%;
  border: 1px solid #AA8BE8;
  height: 600px;
  margin-left: -460px;
  font_family: "Microsoft YaHei UI";
}
.title{
  font-size: 20px;
  color: #3F3F3F;
  border-bottom: 1px solid #E2E2E6;
  padding-left: 10px;
  font-family: "Microsoft YaHei UI";
}
#re_user{
height:500px;
overflow-y:scroll;
width:100%;
}
#cmt_user{
height:500px;
overflow-y:scroll;
width:100%;
}
</style>

<div id="Pdetail">
  <div id="influence_conclusion" style="margin-bottom:-10px;">
    <span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
    <h4 style="line-height:40px;width:900px;">该用户影响力为：<span style="color:red">100</span>；类型为：<span style="color:red">A</span><br></h4>
    <span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
    <h4 style="line-height:60px;width:900px;">影响的领域有：<span style="color:red">ABCD</span></h4>
    <span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
    <h4 style="line-height:60px;width:900px;">影响的话题有：<span style="color:red">ABCD</span></h4>
  </div>
  <div id="yesterday_influence" style="width:1000px;height:400px;">
    <h3>昨日影响力</h3>
    <hr style="margin:0px">
    <div id="influence_weibo"></div>
  </div>
  <div style="margin-top:10px;font-size:16px;"><h3 style="margin-right:50px;">影响力走势图:</h3>
  <hr style="width:1000px;">
	<input name="choose_module" type="radio" checked value=1>每周影响力
    <input style="margin-left:20px;" name="choose_module" type="radio" value=2>每日影响力
    </div>
    <br>
	<div id="influence_chart" style="height:300px;width:1000px;"></div>
	<div id=""  style="width:1000px;line-height:48px;font-size:18px;font-family:"Microsoft YaHei UI";">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<span id="saysth"style="line-height:32px;"></span><span class="red" id="sayimportant"style="line-height:32px;">
	</div>


</div>

<!-- <div id="float-wrap" class="hidden"></div>
<div id="re_influence" class="hidden">
  <h3 class="title">转发用户情况<a href="javascript:void(0)" class="closeList2" id="close"></a></h3>
  <div id="re_user" style="padding:10px;align:left;">11111</div>
</div>
<div id="cmt_influence" class="hidden">
    <h3 class="title">评论用户情况<a href="javascript:void(0)" class="closeList2" id="close"></a></h3>
    <div id="cmt_user" style="padding:10px;align:left;">111111111</div>
</div> -->


<div class="modal fade" id="re_influence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">转发用户情况</h4>
      </div>
      <div class="modal-body" id="re_user2">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>


             
<script src="/static/js/portrait/influence.js"></script>



