<link href="/static/personal/css/basic.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='/static/js/esl.js'></script>

<div id="Pdetail">
	
	<div id="influence_chart" style="height:300px;width:1000px;"></div>
	<div id=""  style="width:1000px;line-height:48px;font-size:18px;font-family:"Microsoft YaHei UI";">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<span id="saysth"style="line-height:32px;"></span><span class="red" id="sayimportant"style="line-height:32px;">
	</div>
	<div id="treeB" style="width:1000px;height:400px;"></div>
	<div id=""  style="width:1000px;line-height:48px;font-size:18px;font-family:"Microsoft YaHei UI";">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<span id="sayinfluence"style="line-height:32px;"></span>
	</div>

</div>
<script type="text/javascript">
function Influence(){
  this.ajax_method = 'GET';
}
Influence.prototype = {   //获取数据，重新画表
  call_sync_ajax_request:function(url, method, callback){
    $.ajax({
      url: url,
      type: method,
      dataType: 'json',
      async: false,
      success:callback
    });
  },
  Draw_influence:function(data){
	//console.log(data);
	var item = data[0];
	//console.log(item);
	var conclusion = data[1];
	console.log(conclusion);
	document.getElementById('saysth').innerHTML = conclusion[0];
	document.getElementById('sayimportant').innerHTML = conclusion[1];
	var dataFixed = [];
	for(i=0;i<item.length;i++){
		dataFixed.push(parseFloat(item[i].toFixed(2)));
	}
	var line_chart_dates = [];
	var line_chart_tomorrow = new Date();
    for(var i=0;i<7;i++){
      var today = new Date(line_chart_tomorrow-24*60*60*1000*(7-i));
      line_chart_dates[i] = today.getFullYear()+"-"+((today.getMonth()+1)<10?"0":"")+(today.getMonth()+1)+"-"+((today.getDate())<10?"0":"")+(today.getDate());
    }
    var myChart = echarts.init(document.getElementById('influence_chart')); 
        
    var option = {
        title : {
            text: '影响力走势图',
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['影响力']
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : line_chart_dates
            }
        ],
        yAxis : [
            {
                type : 'value',
            }
        ],
        series : [
            {
                name:'影响力',
                type:'line',
                data:dataFixed,
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },
        ]
    };
        // 为echarts对象加载数据 
        myChart.setOption(option); 
    }
}

var Influence = new Influence();
var url = '/influence_application/portrait_history_active/?date=2013-09-07&uid='+parent.personalData.uid ;
Influence.call_sync_ajax_request(url, Influence.ajax_method, Influence.Draw_influence);
</script>
<script src="/static/js/portrait/influence.js"></script>



