			<div class="function1">
				<img src="/static/personal/images/pic_fun_mobile_detailed_001.gif"/>
				<p class="p1">通讯录</p>
				<p class="p2">企业通讯录，无需手动录入，自动加载平台员工的联系方式；可...</p>
			</div>
			<div class="function1">
				<img src="/static/personal/images/pic_fun_mobile_detailed_002.gif" />
				<p class="p1">移动审批</p>
				<p class="p2">即使不在电脑前，也无需等待。通过手机端的移动审批可快速的...</p>
			</div>
			<div class="function1">
				<img src="/static/personal/images/pic_fun_mobile_detailed_003.gif"/>
				<p class="p1">日程安排</p>
				<p class="p2">制定个人的日程安排，支持对周期性日程的批量添加，并可设置...</p>
			</div>
			<div class="function2">
				<img src="/static/personal/images/pic_fun_mobile_detailed_004.gif"/>
				<p class="p1">定位签到</p>
				<p class="p2">外出无法签到，也不再是难事；通过手机端即可实现快速的签...</p>
			</div>
