<link href="/static/personal/css/language.css" rel="stylesheet" type="text/css" />
<link href="/static/personal/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/personal/css/component.css" rel="stylesheet" type="text/css" />
<script src="/static/js/modernizr.custom.js"></script>
<style>
#moreWords{
  position: fixed;
  margin-top: -200px;
  left: 65%;
  top: 40%;
  z-index: 1002;
  width: 500px;
  background: #FFF none repeat scroll 0% 0%;
  border: 1px solid #AA8BE8;
  height: 600px;
  margin-left: -460px;
  font_family: "Microsoft YaHei UI";
}
.title{
  font-size: 20px;
  color: #3F3F3F;
  border-bottom: 1px solid #E2E2E6;
  padding-left: 10px;
  font-family: "Microsoft YaHei UI";
}
#WordList{
height:500px;
overflow-y:scroll;
}
</style>
<div id="Language" style="width:300px;height:300px;margin-left:80px;margin-top:30px;"></div>
<div class="showmore" style="margin-top:50px;font-size:16px;"><a style="cursor:pointer; "  id="showmoreWords">更多</a></div>
<div class="hotwords" style="width:550px;height:300px;margin-left:20px;padding-left:20px;">
	<div id="TabContainer" >
		<!--
		<div class="Lsubtitle fleft" style="">
			<ul class="tabTitle fleft">
				<li id="tab1" class=""><a href="#" class="on" onclick="switchTab('tab1','con1');this.blur();return false;">
                正面情感词</a></li>
				<li id="tab2" class=""><a href="#" onclick="switchTab('tab2','con2');this.blur();return false;">
                负面情感词</a></li>
				<li id="tab3" class=""><a href="#" onclick="switchTab('tab3','con3');this.blur();return false;">
                焦虑情感词</a></li>
				<li id="tab4" class=""><a href="#" onclick="switchTab('tab4','con4');this.blur();return false;">
                生气情感词</a></li>
				<li id="tab5" class=""><a href="#" onclick="switchTab('tab5','con5');this.blur();return false;">
                表情符号</a></li>
				<li id="tab6" class=""><a href="#" onclick="switchTab('tab6','con6');this.blur();return false;">
                hashtag</a></li>
			</ul>
		</div>
		-->
        <div class="column">
            <div id="con1" class="fleft">
                <div class="Litem-list fleft">
                <ul class="Litem">
                    <li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
                    <li> <span class="fleft range">1</span><span class="items fleft Lkeywords">down...</span></li>
                    <li> <span class="fleft range">2</span><span class="items fleft Lkeywords">down...</span></li>
                    <li> <span class="fleft range">3</span><span class="items fleft Lkeywords">down...</span></li>
                    <li> <span class="fleft range">4</span><span class="items fleft Lkeywords">down...</span></li>
                    <li> <span class="fleft range">5</span><span class="items fleft Lkeywords">down...</span></li>
                </ul>
                </div>        
            </div>
            <div id="con2" class="fleft" style="display: none">
               <div class="Litem-list fleft">
                <ul class="Litem">
                    <li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
                    <li> <span class="fleft range">1</span><span class="items fleft Lkeywords">down...</span></li>
                    <li> <span class="fleft range">2</span><span class="items fleft Lkeywords">down...</span></li>
                    <li> <span class="fleft range">3</span><span class="items fleft Lkeywords">down...</span></li>
                    <li> <span class="fleft range">4</span><span class="items fleft Lkeywords">down...</span></li>
                    <li> <span class="fleft range">5</span><span class="items fleft Lkeywords">down...</span></li>
                </ul>
                </div>           
            </div>
            <div id="con3" class="fleft" style="display: none">
               <div class="Litem-list fleft">
                <ul class="Litem">
                    <li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
                    <li> <span class="fleft range">1</span><span class="items fleft Lkeywords">着急......</span></li>
                    <li> <span class="fleft range">2</span><span class="items fleft Lkeywords">着急...</span></li>
                    <li> <span class="fleft range">3</span><span class="items fleft Lkeywords">着急...</span></li>
                    <li> <span class="fleft range">4</span><span class="items fleft Lkeywords">着急...</span></li>
                    <li> <span class="fleft range">5</span><span class="items fleft Lkeywords">着急...</span></li>
                </ul>
                </div>           
            </div>
            <div id="con4" class="fleft" style="display: none">
                <div class="Litem-list fleft">
                <ul class="Litem">
                    <li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
                    <li> <span class="fleft range">1</span><span class="items fleft Lkeywords">愤怒...</span></li>
                    <li> <span class="fleft range">2</span><span class="items fleft Lkeywords">愤怒....</span></li>
                    <li> <span class="fleft range">3</span><span class="items fleft Lkeywords">愤怒...</span></li>
                    <li> <span class="fleft range">4</span><span class="items fleft Lkeywords">愤怒...</span></li>
                    <li> <span class="fleft range">5</span><span class="items fleft Lkeywords">愤怒...</span></li>
                </ul>
                </div>           
            </div>
            <div id="con5" class="fleft" style="display: none">
                <div class="Litem-list fleft">
                <ul class="Litem">
                    <li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
                    <li> <span class="fleft range">1</span><span class="items fleft Lkeywords">高兴...</span></li>
                    <li> <span class="fleft range">2</span><span class="items fleft Lkeywords">眦牙...</span></li>
                    <li> <span class="fleft range">3</span><span class="items fleft Lkeywords">害羞...</span></li>
                    <li> <span class="fleft range">4</span><span class="items fleft Lkeywords">哭泣...</span></li>
                    <li> <span class="fleft range">5</span><span class="items fleft Lkeywords">尴尬...</span></li>
                </ul>
                </div>           
            </div>
            <div id="con6" class="fleft" style="display: none">
                <div class="Litem-list fleft">
                <ul class="Litem">
                    <li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
                    <li> <span class="fleft range">1</span><span class="items fleft Lkeywords">命运意儿...</span></li>
                    <li> <span class="fleft range">2</span><span class="items fleft Lkeywords">命运是个神马玩意儿...</span></li>
                    <li> <span class="fleft range">3</span><span class="items fleft Lkeywords">人生就是...</span></li>
                    <li> <span class="fleft range">4</span><span class="items fleft Lkeywords">命运是个神马玩意儿...</span></li>
                    <li> <span class="fleft range">5</span><span class="items fleft Lkeywords">命运是个神马玩意儿...</span></li>
                </ul>
                </div>           
            </div>
        </div>
		<div class="column">
					<div id="dl-menu" class="dl-menuwrapper fright" style="margin-left:20px;width:170px;">
						<button>Open Menu</button>
						<ul class="dl-menu">
							<li id="tab1" class=""><a href="#" class="on" onclick="switchTab('tab1','con1');this.blur();return false;">正面情感词</a></li>
							<li id="tab2" class=""><a href="#" onclick="switchTab('tab2','con2');this.blur();return false;">负面情感词</a></li>
							<li id="tab3" class=""><a href="#" onclick="switchTab('tab3','con3');this.blur();return false;">焦虑情感词</a></li>
							<li id="tab4" class=""><a href="#" onclick="switchTab('tab4','con4');this.blur();return false;">生气情感词</a></li>
							<li id="tab5" class=""><a href="#" onclick="switchTab('tab5','con5');this.blur();return false;">表情符号</a></li>
							<li id="tab6" class=""><a href="#" onclick="switchTab('tab6','con6');this.blur();return false;">hashtag</a></li>
						</ul>
					</div><!-- /dl-menuwrapper -->
					
	
			
		</div>
    </div>
</div>
<div id="float-wrap" class="hidden"></div>
<div id="moreWords" class="hidden">
	<h3 class="title">关键词排名<a href="javascript:void(0)" class="closeList" id="close"></a></h3>
	<div id="WordList"></div>
</div>
<div id="" style="width:1000px;">
	<div id="" style="height:30px;width:950px;line-height:32px;">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<h4 style="line-height:32px;">平均文本长度：<span id="TLnum"></span></h4>
	</div>
	<div id="" style="height:30px;width:950px;line-height:32px;">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<h4 style="line-height:32px;">行链接微博比例：<span id="LLnum"></span>%</h4>
	</div>
	<div id="" style="height:30px;width:950px;line-height:32px;">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<h4 id="linkDes" style="line-height:32px;"></h4>
	</div>
	
	<div id="" style="height:30px;width:950px;line-height:32px;">
		<span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span>
		<h4 id="emotionDes" style="line-height:32px;"></h4>
	</div>
</div>
<script type="text/javascript">
        function switchTab(ProTag, ProBox) {
            for (i = 1; i < 7; i++) {
                if ("tab" + i == ProTag) {
                    document.getElementById(ProTag).getElementsByTagName("a")[0].className = "on";
                } else {
                    document.getElementById("tab" + i).getElementsByTagName("a")[0].className = "";
                }
                if ("con" + i == ProBox) {
                    document.getElementById(ProBox).style.display = "";
                } else {
                    document.getElementById("con" + i).style.display = "none";
                }
            }
        }
    </script>
<script src="/static/js/emoticon.js"></script>
<script src="/static/js/jquery.dlmenu.js"></script>
<script src="/static/js/portrait/language.js"></script>
<script type="text/javascript">
$(function() {
		$( '#dl-menu' ).dlmenu();
	});
$(".closeList").off("click").click(function(){
		$("#float-wrap").addClass("hidden");
		$("#moreWords").addClass("hidden");
		return false;
	});
$("#showmoreWords").off("click").click(function(){
		$("#float-wrap").removeClass("hidden");
		$("#moreWords").removeClass("hidden");
		return false;
	});
var textlength = document.getElementById('TLnum');
textlength.innerHTML = parent.personalData.text_len.toFixed(0);
var linklength = document.getElementById('LLnum');
var link = parent.personalData.link * 100;
linklength.innerHTML = link.toFixed(2);               
</script>
                    
