<link href="/static/personal/css/language.css" rel="stylesheet" type="text/css" />
<div id="Language" style="width:300px;height:300px;margin-left:80px;margin-top:30px;"></div>

<div class="hotwords" style="width:550px;height:100%;margin-left:20px;padding-left:20px;">
	<div id="TabContainer" >
		<div class="Lsubtitle fleft" style="">
			<ul class="tabTitle fleft">
				<li id="tab1" class=""><a href="#" class="on" onclick="switchTab('tab1','con1');this.blur();return false;">
                正面情感词</a></li>
				<li id="tab2" class=""><a href="#" onclick="switchTab('tab2','con2');this.blur();return false;">
                负面情感词</a></li>
				<li id="tab3" class=""><a href="#" onclick="switchTab('tab3','con3');this.blur();return false;">
                焦虑情感词</a></li>
				<li id="tab4" class=""><a href="#" onclick="switchTab('tab4','con4');this.blur();return false;">
                生气情感词</a></li>
				<li id="tab5" class=""><a href="#" onclick="switchTab('tab5','con5');this.blur();return false;">
                表情符号</a></li>
				<li id="tab6" class=""><a href="#" onclick="switchTab('tab6','con6');this.blur();return false;">
                hashtag</a></li>
			</ul>
		</div>
        <div id="con1" class="fleft">
 <div class="Litem-list fleft">
			<ul class="Litem">
				<li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
				<li> <span class="fleft range">1</span><span class="items fleft Lkeywords">down...</span></li>
				<li> <span class="fleft range">2</span><span class="items fleft Lkeywords">down...</span></li>
				<li> <span class="fleft range">3</span><span class="items fleft Lkeywords">down...</span></li>
				<li> <span class="fleft range">4</span><span class="items fleft Lkeywords">down...</span></li>
				<li> <span class="fleft range">5</span><span class="items fleft Lkeywords">down...</span></li>
			</ul>
			</div>        
        </div>
        <div id="con2" class="fleft" style="display: none">
           <div class="Litem-list fleft">
			<ul class="Litem">
				<li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
				<li> <span class="fleft range">1</span><span class="items fleft Lkeywords">down...</span></li>
				<li> <span class="fleft range">2</span><span class="items fleft Lkeywords">down...</span></li>
				<li> <span class="fleft range">3</span><span class="items fleft Lkeywords">down...</span></li>
				<li> <span class="fleft range">4</span><span class="items fleft Lkeywords">down...</span></li>
				<li> <span class="fleft range">5</span><span class="items fleft Lkeywords">down...</span></li>
			</ul>
			</div>           
        </div>
        <div id="con3" class="fleft" style="display: none">
           <div class="Litem-list fleft">
			<ul class="Litem">
				<li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
				<li> <span class="fleft range">1</span><span class="items fleft Lkeywords">着急......</span></li>
				<li> <span class="fleft range">2</span><span class="items fleft Lkeywords">着急...</span></li>
				<li> <span class="fleft range">3</span><span class="items fleft Lkeywords">着急...</span></li>
				<li> <span class="fleft range">4</span><span class="items fleft Lkeywords">着急...</span></li>
				<li> <span class="fleft range">5</span><span class="items fleft Lkeywords">着急...</span></li>
			</ul>
			</div>           
        </div>
        <div id="con4" class="fleft" style="display: none">
            <div class="Litem-list fleft">
			<ul class="Litem">
				<li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
				<li> <span class="fleft range">1</span><span class="items fleft Lkeywords">愤怒...</span></li>
				<li> <span class="fleft range">2</span><span class="items fleft Lkeywords">愤怒....</span></li>
				<li> <span class="fleft range">3</span><span class="items fleft Lkeywords">愤怒...</span></li>
				<li> <span class="fleft range">4</span><span class="items fleft Lkeywords">愤怒...</span></li>
				<li> <span class="fleft range">5</span><span class="items fleft Lkeywords">愤怒...</span></li>
			</ul>
			</div>           
        </div>
		<div id="con5" class="fleft" style="display: none">
            <div class="Litem-list fleft">
			<ul class="Litem">
				<li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
				<li> <span class="fleft range">1</span><span class="items fleft Lkeywords">高兴...</span></li>
				<li> <span class="fleft range">2</span><span class="items fleft Lkeywords">眦牙...</span></li>
				<li> <span class="fleft range">3</span><span class="items fleft Lkeywords">害羞...</span></li>
				<li> <span class="fleft range">4</span><span class="items fleft Lkeywords">哭泣...</span></li>
				<li> <span class="fleft range">5</span><span class="items fleft Lkeywords">尴尬...</span></li>
			</ul>
			</div>           
        </div>
		<div id="con6" class="fleft" style="display: none">
            <div class="Litem-list fleft">
			<ul class="Litem">
				<li> <span class="fleft range">排名</span><span class="items fleft Lkeywords">关键词</span></li>
				<li> <span class="fleft range">1</span><span class="items fleft Lkeywords">命运意儿...</span></li>
				<li> <span class="fleft range">2</span><span class="items fleft Lkeywords">命运是个神马玩意儿...</span></li>
				<li> <span class="fleft range">3</span><span class="items fleft Lkeywords">人生就是...</span></li>
				<li> <span class="fleft range">4</span><span class="items fleft Lkeywords">命运是个神马玩意儿...</span></li>
				<li> <span class="fleft range">5</span><span class="items fleft Lkeywords">命运是个神马玩意儿...</span></li>
			</ul>
			</div>           
        </div>
    </div>
</div>
<div class="TextLength left180">平均文本长度：<span id="TLnum">85</span></div>
<div class="LinkLength ">平均链接数：<span id="LLnum">2</span></div>
<div id="hashtagDes"></div>
<script type="text/javascript">
        function switchTab(ProTag, ProBox) {
            for (i = 1; i < 7; i++) {
                if ("tab" + i == ProTag) {
                    document.getElementById(ProTag).getElementsByTagName("a")[0].className = "on";
                } else {
                    document.getElementById("tab" + i).getElementsByTagName("a")[0].className = "";
                }
                if ("con" + i == ProBox) {
                    document.getElementById(ProBox).style.display = "";
                } else {
                    document.getElementById("con" + i).style.display = "none";
                }
            }
        }
    </script>
<script src="/static/js/portrait/language.js"></script>
<script type="text/javascript">
var textlength = document.getElementById('TLnum');
textlength.innerHTML = parent.personalData.text_len.toFixed(2);
var linklength = document.getElementById('LLnum');
linklength.innerHTML = parent.personalData.link.toFixed(2);               
</script>
                    
