			<div class="function1">
				<img src="/static/personal/images/pic_fun_k_detailed_001.gif"/>
				<p class="p1">文件柜</p>
				<p class="p2">创建个人文件柜，将个人的重要文件存储至平台，随时随地查看...</p>
			</div>
			<div class="function1">
				<img src="/static/personal/images/pic_fun_k_detailed_002.gif"/>
				<p class="p1">个人网盘</p>
				<p class="p2">平台提供的个人网盘，由员工个人进行管理，可根据需要创建不...</p>
			</div>
			<div class="function1">
				<img src="/static/personal/images/pic_fun_k_detailed_003.gif"/>
				<p class="p1">文件共享</p>
				<p class="p2">员工可将个人网盘中的文件与他人共享，实现资源文件在企业内...</p>
			</div>
			<div class="function2">
				<img src="/static/personal/images/pic_fun_k_detailed_004.gif"/>
				<p class="p1">权限控制</p>
				<p class="p2">以用户、用户组、部门为单位进行严密的权限设置，为秘密文件...</p>
			</div>
