<script type="text/javascript" src='/static/js/esl.js'></script>
<script type="text/javascript" src='/static/js/echarts-all.js'></script>
<script type="text/javascript" src='/static/js/echarts.js'></script>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:100%">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
	<div class="" style="padding-left:150px">最近有<span id="fansNumber">33</span>人转发该用户微博（图中显示Top20）</div>
     <div id ='test1' style='height:600px;width:880px'></div>
    </div>
    <div class="item" style="padding-left:150px"> 
	<div class="">该用户最近跟<span id="mentionNumber">33</span>人@交互（图中显示Top20）</div>
      <div id ='test2' style='height:600px;width:880px'></div>
    </div>
   <div class="item">
   <div class="" style="padding-left:150px">最近该用户转发过<span id="attentionNumber">33</span>人的微博（图中显示Top20）</div>
      <div id ='test3' style='height:600px;width:880px'></div>
    </div>
  </div>

  <!-- Controls -->
  <div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  </div>
  <div>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
	<script src="/static/js/portrait/attention.js"></script>
	<script src="/static/js/portrait/follower.js"></script>
	<script src="/static/js/portrait/mention.js"></script>
   <script src="/static/bootstrap/js/bootstrap.min.js"></script>
   <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

