<script type="text/javascript" src='/static/js/esl.js'></script>
<script type="text/javascript" src='/static/js/echarts-all.js'></script>
<script type="text/javascript" src='/static/js/echarts.js'></script>


<div style="width:100%;margin: 0px;margin-top: 10px;">
  <div style="width:60%;">
    <input type="radio" name="graph-type" value="1" style="width:15px;height:15px;margin-left:8px;" checked >转发
    <input type="radio" name="graph-type" value="2"  style="width:15px;height:15px;margin-left:8px;">被转发
    <input type="radio" name="graph-type" value="3"  style="width:15px;height:15px;margin-left:8px;">提及
    <input type="radio" name="graph-type" value="4"  style="width:15px;height:15px;margin-left:8px;">评论
    <input type="radio" name="graph-type" value="5" style="width:15px;height:15px;margin-left:8px;">被评论
    <input type="radio" name="graph-type" value="6"  style="width:15px;height:15px;margin-left:8px;">互动
  </div>
  <div style="width:40%;">
    <div style="margin-top:3px;margin-left:20px;">显示人数&nbsp&nbsp</div>
    <div style="margin-top:0px;margin-left:20px;" ><input  type="range" id="num-range" min="20" max="50" step="10" value="20">20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;40&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50</div>
    <button class="btn btn-primary btn-sm" style="width:80px;height:30px;float:right;margin-top:0px;margin-right: 10px;" id="graph_button" title="确定选择">确定</button>
  </div>
</div>
    
  <div style="width:60%;" id="graph-domain">
    <div id="test0" style="width:100%;font-size:16px;color:#777;">转发情况</div>
    <div id="test1" style="height:400px;width:570px;"></div>
    <!--<div id="test1-2" style="height:400px;width:400px;"></div>-->
  </div>
  <div style="width:40%;">
    <div style='width:100%;margin-left:20px;'><span style='font-size:16px;color:#777'>领域(仅入库用户)</span><span type="button"data-toggle="modal" data-target="#field_more"  style='font-size:16px;margin-left:175px;cursor: pointer'><u>查看更多</u></span></div>

    <div id="field" style="height:200px;width:380px;"></div>
    <div style="width:100%;margin-left:20px;"><span style='font-size:16px;color:#777'>话题(仅入库用户)</span><span type="button"data-toggle="modal" data-target="#topic_more"  style='font-size:16px;margin-left:175px;cursor: pointer'><u>查看更多</u></span></div>
    <div id="topic" style="height:200px;width:380px;"></div>
  </div>


<div class="modal fade" id="field_more" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="position: absolute;margin-top: 100px;margin-left: 500px;float :none;width: 400px;">
      <div class="modal-header" style="float:inherit;margin:initial;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">领域</h4>
      </div>
      <div class="modal-body" style="float:none;" id="field0">
      </div>
      <div class="modal-footer" style="width: 380px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="topic_more" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="position: absolute;margin-top: 100px;margin-left: 500px;float :none;width: 400px;">
      <div class="modal-header" style="float:inherit;margin:initial;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">话题</h4>
      </div>
      <div class="modal-body" style="float:none;" id="topic0">
      </div>
      <div class="modal-footer"  style="width: 380px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

  

 
<script type="text/javascript">
     var select_graph = $('input[name="graph-type"]:checked').val();
      var select_num=document.getElementById('num-range').value;
      // var uid0 = document.location.search.substr(1).split('&');
      // var uid1 = uid0[0].match(/uid=([^\"]*)/);
      // var uid = uid1[1];
      var UserID = uid;
      var UserName = document.getElementById('nickname').innerHTML;
</script>
<script src="/static/js/portrait/attention.js"></script>
<!--<script src="/static/js/portrait/follower.js"></script>
<script src="/static/js/portrait/mention.js"></script>
<script src="/static/js/portrait/comment.js"></script>
-->
<script>
      url = '/attribute/attention/?uid='+uid+'&top_count='+select_num  ;
      Attention.call_sync_ajax_request(url, Attention.ajax_method, Attention.Draw_attention);
  $(document).ready(function(){
    console.log('asdf');
    $('#graph_button').click(function(){
      console.log('asdfasgd');
      var select_graph = $('input[name="graph-type"]:checked').val();
      var select_num=document.getElementById('num-range').value;
      // var uid0 = document.location.search.substr(1).split('&');
      // var uid1 = uid0[0].match(/uid=([^\"]*)/);
      // var uid = uid1[1];
      var UserName = document.getElementById('nickname').innerHTML;
        $("#test1").empty();
        $("#test0").empty();
        $("#field").empty();
        $("#topic").empty();
      if (select_graph == 1){
        var test_html='转发情况 <hr style="margin-top:10px;margin-right:20px;" /> ';
        $("#test0").append(test_html);
        url = '/attribute/attention/?uid='+uid+'&top_count='+select_num  ;
        Attention.call_sync_ajax_request(url, Attention.ajax_method, Attention.Draw_attention);
      }
      else if(select_graph == 2){
        var test_html='被转发情况 <hr style="margin-top:10px;margin-right:20px;" /> ';
        $("#test0").append(test_html);
        url = '/attribute/follower/?uid='+uid+'&top_count='+select_num ;
        Attention.call_sync_ajax_request(url, Attention.ajax_method, Attention.Draw_attention);
      }
      else if(select_graph == 3){
        var test_html='提及情况 <hr style="margin-top:10px;margin-right:20px;" /> ';
        $("#test0").append(test_html);
        url = '/attribute/mention/?uid='+uid+'&top_count='+select_num  ;
        Attention.call_sync_ajax_request(url, Attention.ajax_method, Attention.Draw_attention);
      }
      else if(select_graph == 4){
        var test_html='评论情况 <hr style="margin-top:10px;margin-right:20px;" /> ';
        $("#test0").append(test_html);
         url = '/attribute/comment/?uid='+uid+'&top_count='+select_num  ;
        Attention.call_sync_ajax_request(url, Attention.ajax_method, Attention.Draw_attention);
        //Comment.call_sync_ajax_request(url, Comment.ajax_method, Comment.Draw_picture);
      }
      else if(select_graph == 5){
        var test_html='被评论情况 <hr style="margin-top:10px;margin-right:20px;" /> ';
        $("#test0").append(test_html);
        url = '/attribute/be_comment/?uid='+uid+'&top_count='+select_num  ;
        Attention.call_sync_ajax_request(url, Attention.ajax_method, Attention.Draw_attention);
        //Comment.call_sync_ajax_request(url, Comment.ajax_method, Comment.Draw_picture);
      }
      else if(select_graph == 6){
        var test_html='互动情况 <hr style="margin-top:10px;margin-right:20px;" /> ';
        $("#test0").append(test_html);
        url = '/attribute/bidirect_interaction/?uid='+uid+'&top_count='+select_num  ;
        Attention.call_sync_ajax_request(url, Attention.ajax_method, Attention.Draw_attention);
      }      
    });

          })
</script>
