
 <style type="text/css">   
    .border-table {   
        border-collapse: collapse;   
        border: none;   
    }   
    .border-table td {   
        border: solid #FFE4B5 1px;   
    }   
</style>
<div style="width:100%;">
<div style="width:200px;"><span class="fleft" style="margin-right:10px;width:32px;height:32px;background-image:url(/static/img/warning.png);margin-top:10px;display:black;"></span><h4 style="line-height:32px;" >该用户的心情为<span id="con_emotion"></span></h4></div>
<div style="width: 770px;text-align:right;margin:8px;margin-top: 20px;">
   <input type="radio" name="time-type" value='day' onclick="choose_time()" style="width:15px;height:15px;margin-left:8px;" checked >每日变动情况
   <input type="radio" name="time-type" value='week'  onclick="choose_time()" style="width:15px;height:15px;margin-left:8px;">每周变动情况
</div>
</div>
<div style="width:680px;height:400px;" id="emotion"></div>
<div style="width: 280px;height: 380px;background-color:whitesmoke;margin-left: 20px;" id="content"></div>
<div style="width:998px;">
	<div>
		<div style="height:380px;width:450px;float:left;margin-top:-20px">
		<div style="width:100%;font-size:16px;margin:0px;">倾向性<hr style="margin-top:10px;margin-right:20px;" /></div>
		<div id="sen_trend" style="height:350px;width:450px;"></div>
		</div>
		<div style="height:380px;width:450px;float:right;margin-top:-20px;margin-left:98px;">
		<div style="width:100%;font-size:16px;margin:0px;">心理状态<hr style="margin-top:10px;margin-right:20px;" /></div>
		<div id="pie_emotion" style="height:350px;width:450px;"></div>
		</div>
	</div>	
</div>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script type="text/javascript">
function call_ajax_request(url, callback){
    $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
        async: false,
        success: callback
    });
}
function Thought(){
  this.ajax_method = 'GET';
    }
Thought.prototype = {   //获取数据，重新画表
  call_sync_ajax_request:function(url, method, callback){
    $.ajax({
      url: url,
      type: method,
      dataType: 'json',
      async: false,
      success:callback
    });
  },
Draw_emotion:function(data){
    var items = data;
    if(items==null){
        var say = document.getElementById('emotion');
        say.innerHTML = '该用户暂无此数据';
    }else{
        emotions(items);     
    }   
}
}

var Thought = new Thought();
index = $('input[name="time-type"]:checked').val();
url = '/attribute/sentiment_trend/?uid='+uid+'&time_type='+index;
console.log(uid);
Thought.call_sync_ajax_request(url, Thought.ajax_method, Thought.Draw_emotion);
url_content = '/attribute/sentiment_weibo/?uid='+uid+'&start_ts=1378567800&time_type='+index+'&sentiment=1';
call_ajax_request(url_content,draw_content);
url_think = '/attribute/tendency_psy/?uid='+uid;
call_ajax_request(url_think,draw_think);
call_ajax_request(url_think,draw_trend);


function choose_time(){            
    index = $('input[name="time-type"]:checked').val();
    url = '/attribute/sentiment_trend/?uid='+uid+'&time_type='+index;
    Thought.call_sync_ajax_request(url, Thought.ajax_method, Thought.Draw_emotion);
    //$('#emotion').empty();
  }

function draw_content(data){
    var html = '';
    $('#content').empty();
    if(data==''){
        html += "<div style='width:100%;'><span style='margin-left:20px;'>该时段用户未发布任何微博</span></div>";
    }else{
        for(i=0;i<data.length;i++){
            //console.log(data[i].text);
            html += "<div style='width:100%;'><img src='/static/img/pencil-icon.png' style='height:10px;width:10px;margin:0px;margin-right:10px;'><span>"+data[0]['text']+"</span></div>";
        }
    }
    $('#content').append(html);
}

function emotions(data){
    var times = data['time_list'];
    var names = ['中性','积极','悲伤','愤怒']; 
    var data0 = data['trend_result']['0'];
    var data1 = data['trend_result']['1'];
    var data2 = data['trend_result']['2'];
    var data3 = data['trend_result']['3'];
    var datas = [data0,data1,data2,data3];
    var nods = {};
    var nodcontent = [];
    for(i=0;i<4;i++){
        nods = {};
        nods['name'] = names[i];
        nods['type'] = 'line';
        nods['data'] = datas[i];
        nodcontent.push(nods);
    }
    console.log(nodcontent[0]);

    var myChart1 = echarts.init(document.getElementById('emotion'));
    var option = {
    title : {
        text: '情绪变动曲线',
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:names
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : times
        }
    ],
    yAxis : [
        {
            type : 'value',
        }
    ],
    series : nodcontent
    };
    myChart1.setOption(option); 
    require([
            'echarts'
        ],
        function(ec){
            var ecConfig = require('echarts/config');
            function focus(param) {
                console.log(param);
                var sentiment = param.seriesIndex;
                var date = new Date(param.name);
                var starts_ts = date.getTime();
                var start_ts = starts_ts.toString().substr(0,10);
                console.log(start_ts);
                ajax_url = '/attribute/sentiment_weibo/?uid='+uid+'&start_ts='+start_ts+'&time_type='+index+'&sentiment='+sentiment;
                $.ajax({
                      url: ajax_url,
                      type: 'GET',
                      dataType: 'json',
                      async: false,
                      success:draw_content
                    });                
                }
            myChart1.on(ecConfig.EVENT.CLICK, focus);
            }
            
    )
}
  
function draw_think(data){
    console.log(data);
    var first = data['psy_first'];
    var second = data['psy_second'];
    var first_name = ['积极','消极','中性'];
    var second_name = ['愤怒','其他','焦虑','悲伤'];
    var first_content = [];
    var second_content = [];
    var nod = {};
    console.log(first);
    var i = 0;
    for(var key in first){
        var nod = {};
        nod['name'] = first_name[i];
        nod['value'] = first[key];
        first_content.push(nod);
        i = i + 1;
        //first_name.push(key);
    }
    var j = 0;
    for(var key in second){
        var nod = {};
        nod['name'] = second_name[j];
        nod['value'] = second[key];
        second_content.push(nod);
        j = j + 1;
        //second_name.push(key);
    }
    console.log(first_content);
var myChart = echarts.init(document.getElementById('pie_emotion'));
    var option = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true, 
                type: ['pie', 'funnel']
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : false,
    series : [
        {
            name:'访问来源',
            type:'pie',
            selectedMode: 'single',
            radius : [0, 70],
            
            // for funnel
            x: '20%',
            width: '40%',
            funnelAlign: 'right',
            max: 1548,
            
            itemStyle : {
                normal : {
                    label : {
                        position : 'inner'
                    },
                    labelLine : {
                        show : false
                    }
                }
            },
            data:first_content
        },
        {
            name:'访问来源',
            type:'pie',
            radius : [100, 140],
            
            // for funnel
            x: '60%',
            width: '35%',
            funnelAlign: 'left',
            max: 1048,
            
            data:second_content
        }
    ]
    };
    myChart.setOption(option); 
    var ecConfig = require('echarts/config');
    myChart.on(ecConfig.EVENT.PIE_SELECTED, function (param){
    var selected = param.selected;
    var serie;
    var str = '当前选择： ';
    for (var idx in selected) {
        serie = option.series[idx];
        for (var i = 0, l = serie.data.length; i < l; i++) {
            if (selected[idx][i]) {
                str += '【系列' + idx + '】' + serie.name + ' : ' + 
                       '【数据' + i + '】' + serie.data[i].name + ' ';
            }
        }
    }
    document.getElementById('wrong-message').innerHTML = str;
    })
                    
}

function draw_trend(data){
    var trends = data['tendency'];
    var nods = [];
    var nod = {};
    var nodcontent = [];
    var nodcon0 = {};
    var i = 0;
    for(var i in trends){
        var nod = {};
        nod['name'] = i;
        nod['value'] = trends[i];
        nods.push(nod);
    }
    for (i=0;i<nods.length;i++){
        console.log(nods.length);
        var nodcon0 = {};
        nodcon0['name'] = i;
        nodcon0['type'] = 'gauge';
        nodcon0['min'] = 0;
        nodcon0['max'] = 3;
        //nodcon0['center'] = 
        nodcon0['data'] = [{'value':nods[i]['value'],'name':nods[i]['name']}]
        //nodcon0['data'] = nods[i];
        nodcontent.push(nodcon0);
    }

    console.log(nodcontent);
    var myChart = echarts.init(document.getElementById('sen_trend'));
    var option = {
    tooltip : {
        formatter: "{a} <br/>{b} : {c}%"
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    series : nodcontent
};
       myChart.setOption(option);              

}
</script>
