			<div class="function1">
				<img src="/static/personal/images/pic_fun_crm_detailed_001.gif"/>
				<p class="p1">客户管理</p>
				<p class="p2">创建企业的客户资源库，维护客户的综合信息；及时、定期跟进...</p>
			</div>
			<div class="function1">
				<img src="/static/personal/images/pic_fun_crm_detailed_002.gif"/>
				<p class="p1">销售管理</p>
				<p class="p2">提供多样化的销售管理机制，实现销售过程的流程控制与维护...</p>
			</div>
			<div class="function1">
				<img src="/static/personal/images/pic_fun_crm_detailed_003.gif"/>
				<p class="p1">合同管理</p>
				<p class="p2">统一管理合同信息，形成企业的知识库；提供应用插件，实现合...</p>
			</div>
			<div class="function2">
				<img src="/static/personal/images/pic_fun_crm_detailed_004.gif"/>
				<p class="p1">供应商管理</p>
				<p class="p2">建立企业的供应商资源，完善企业供应链；在实际的业务操作...</p>
			</div>
