{% extends "base.html" %}

{% block search_box %}
{% endblock %}

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul id="myTab" class="nav nav-sidebar" role="tablist">
        <li><a href="{{ url_for('user.detail', id=id) }}">用户个人信息</a></li>
        <li><a href="{{ url_for('user.followers', id=id) }}">用户粉丝树</a></li>
        <li><a href="{{ url_for('user.friends', id=id) }}">用户好友树</a></li>
    </ul>

</div>
{% endblock %}

{% block main %}
<div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<img src="{{ user.photo_url }}" alt="" class="img-circle">
			</div>
	    	<ul class="list-group">
	    		<li class="list-group-item">昵称：{{ user.name }}</li>
	    		<li class="list-group-item">性别：{{ gender(user.sex) }}</li>
			  	<li class="list-group-item">粉丝：{{ user.fansnum }}</li>
			  	<li class="list-group-item">好友：{{ user.friendsnum }}</li>
			  	<li class="list-group-item">微博：{{ user.statusnum }}</li>
			  	<li class="list-group-item">认证：{{ user.isreal }} </li>
			  	<li class="list-group-item">位置：{{ user.user_location }}</li>
			  	<li class="list-group-item">个人描述：{{ user.description }}</li>
			  	<li class="list-group-item">创建时间：{{ tsfmt(user.create_at) }}</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				用户粉丝列表
			</div>
			<table class="table table-striped">
		        <thead>
		            <tr>
		                <th>uid</th>
		                <th>昵称</th>
		                <th>性别</th>
		                <th>所在地</th>
		                <th>好友数</th>
		                <th>粉丝数</th>
		                <th>微博数</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for item in followers %}
		            <tr>
		                <td><a href="{{ url_for('user.detail', id=item._id) }}">{{ item._id }}</td>
		                <td>{{ item.name }}</td>
		                <td>{{ gender(item.sex) }}</td>
		                <td>{{ item.user_location }}</td>
		                <td>{{ item.friendsnum }}</td>
		                <td>{{ item.fansnum }}</td>
		                <td>{{ item.statusnum }}</td>
		            </tr>
		            {% endfor %}
		        </tbody>
		    </table>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading text-center">
				用户好友列表
			</div>
			<table class="table table-striped">
		        <thead>
		            <tr>
		                <th>uid</th>
		                <th>昵称</th>
		                <th>性别</th>
		                <th>所在地</th>
		                <th>好友数</th>
		                <th>粉丝数</th>
		                <th>微博数</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for item in friends %}
		            <tr>
		                <td><a href="{{ url_for('user.detail', id=item._id) }}">{{ item._id }}</td>
		                <td>{{ item.name }}</td>
		                <td>{{ gender(item.sex) }}</td>
		                <td>{{ item.user_location }}</td>
		                <td>{{ item.friendsnum }}</td>
		                <td>{{ item.fansnum }}</td>
		                <td>{{ item.statusnum }}</td>
		            </tr>
		            {% endfor %}
		        </tbody>
		    </table>
		</div>		
	</div>   
</div>
{% endblock %}