{% extends "mbase.html" %}

{% block search_box %}
{% endblock %}

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul id="myTab" class="nav nav-sidebar" role="tablist">
        <li><a href="{{ url_for('profile.detail', id=id) }}">用户个人信息</a></li>
    </ul>

</div>
{% endblock %}

{% block main %}
<h4 class="page-header" style='margin-top:0px'>用户个人信息列表</h4>
<div class="main col-sm-9 col-md-10">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<img src="{{ user.photo_url }}" alt="" class="img-circle">
			</div>
			<table>
	    	<ul class="list-group">
	    		<tr>
	    		    <td><li class="list-group-item" style="width:240px">UID：{{ user.uid }}</li></td>
	    		    <td><li class="list-group-item" style="width:240px">昵称：{{ user.nick_name }}</li></td>
	    		    <td><li class="list-group-item" style="width:240px">性别：{{ gender(user.sex) }}</li></td>
	    		</tr>
	    		<tr>
	    			<td><li class="list-group-item" style="width:240px"><a href = {{ 'http://weibo.com/u/' + int2string(user.uid) }}>个人微博主页</a></li></td>
	    			<td><li class="list-group-item" style="width:240px">邮箱：{{ user.user_email }}</li></td>
	    			<td><li class="list-group-item" style="width:240px">出生年月：{{ user.user_birth }}</li></td>
	    		</tr>
	    		<tr>
	    			<td><li class="list-group-item" style="width:240px">粉丝数：{{ user.fansnum }}</li></td>
	    			<td><li class="list-group-item" style="width:240px">好友数：{{ user.friendsnum }}</li></td>
	    			<td><li class="list-group-item" style="width:240px">微博数：{{ user.statusnum }}</li></td>
	    		</tr>
	    		<tr>
	    			<td><li class="list-group-item" style="width:240px">认证：{{ user.isreal }} </li></td>
	    			<td><li class="list-group-item" style="width:240px">位置：{{ user.user_location }}</li></td>
	    			<td><li class="list-group-item" style="width:240px">创建时间：{{ tsfmt(user.create_at) }}</li></td>	
	    		</tr>
	    		<tr>
	    			<td><li class="list-group-item" style="width:240px">个人博客主页{{ user.blog_url }}</li></td>
	    			<td><li class="list-group-item" style="width:240px">SP类型：{{ user.sp_type }}</li></td>
	    			<td><li class="list-group-item" style="width:240px">用户收藏数：{{ user.favouritesnum }}</li></td>
	    		</tr>
	    		<tr>	    			
	    			<td colspan="3"><li class="list-group-item" style="width:100%">个人描述：{{ user.description }}</li></td>
	    		</tr>			  	
			</ul>
			</table>
		</div>
	</div>
<!-- 	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				用户粉丝列表
			</div>
			<table class="table table-striped">
		        <thead>
		            <tr>
		                <th>uid</th>
		                <th>昵称</th>
		                <th>性别</th>
		                <th>所在地</th>
		                <th>好友数</th>
		                <th>粉丝数</th>
		                <th>微博数</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for item in followers %}
		            <tr>
		                <td><a href="{{ url_for('user.detail', id=item._id) }}">{{ item._id }}</td>
		                <td>{{ item.name }}</td>
		                <td>{{ gender(item.sex) }}</td>
		                <td>{{ item.user_location }}</td>
		                <td>{{ item.friendsnum }}</td>
		                <td>{{ item.fansnum }}</td>
		                <td>{{ item.statusnum }}</td>
		            </tr>
		            {% endfor %}
		        </tbody>
		    </table>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading text-center">
				用户好友列表
			</div>
			<table class="table table-striped">
		        <thead>
		            <tr>
		                <th>uid</th>
		                <th>昵称</th>
		                <th>性别</th>
		                <th>所在地</th>
		                <th>好友数</th>
		                <th>粉丝数</th>
		                <th>微博数</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for item in friends %}
		            <tr>
		                <td><a href="{{ url_for('user.detail', id=item._id) }}">{{ item._id }}</td>
		                <td>{{ item.name }}</td>
		                <td>{{ gender(item.sex) }}</td>
		                <td>{{ item.user_location }}</td>
		                <td>{{ item.friendsnum }}</td>
		                <td>{{ item.fansnum }}</td>
		                <td>{{ item.statusnum }}</td>
		            </tr>
		            {% endfor %}
		        </tbody>
		    </table>
		</div>		
	</div>  -->  
</div>
{% endblock %}