{% extends "tbase.html" %}
{% block title %}关联分析{% endblock title%}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link href="/static/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<style>
    .caroufredsel_wrapper{
        left: -16px;
    }
    .addIcon{background-image:url(../../static/img/add.png);width:32px;display:inline-block;height:32px;cursor:pointer;padding-top:10px;}
    .tagCols{width:550px;margin:auto 0;  text-align: center;margin-bottom: 10px;height:50px;line-height: 45px;}
    .tagCols span{font-size:20px;}
</style>

{% endblock css %}

{% block head_js %}
{{ super() }}
<script type="text/javascript" src="/static/js/lanrenzhijia.js"></script>
<script type="text/javascript" src='/static/js/esl.js'></script>
<script type="text/javascript" src='/static/js/echarts-all.js'></script>
<script type="text/javascript" src='/static/js/echarts.js'></script>
{% endblock %}

{% block main %}

<style>
    .caroufredsel_wrapper{
        left: -16px;
    }
</style>
<div id="personal_head" style="font-family:"Microsoft YaHei UI"; font-size:16px;" >
    <div class="PortraitImg" ><img id="portraitImg" src="" alt="" class="img-circle"></div>
    <div class="nickname" id="nickname"></div>
    <div style="text-align:center;height:30px;">
        <a id="basic_info" target='_blank' style="cursor:hand;">ta的注册信息</a>&nbsp;&nbsp;
        <a id="homepage" target='_blank' style="cursor:hand;">ta的微博主页</a>&nbsp;&nbsp;
      </div>
    <div class="power">
        <span class="activePower lightw">活跃度：</span><span class=" red" id="APnum">100</span>（No.<span id="APrank"></span>/<span id="APsum"></span>）
        <span class="importantPower lightw">重要度：</span><span class=" red" id="IPnum">100</span>（No.<span id="IPrank"></span>/<span id="IPsum"></span>）
        <span class="influencePower lightw">影响力：</span><span class=" red" id="FPnum">100</span>（No.<span id="FPrank"></span>/<span id="FPsum"></span>）
    </div>
    <div class="PersonPre"><span class="lightw">个人描述：</span><span class="" style="font-family: "宋体";" id="portraitDetail">【请勿关注此账号】此账号信息由微博系统自动发出，并无人工管理。</sapn></div>
</div>
<div id="float-wrap" class="hidden"></div>
<div id="basicInfo" class="hidden" style="position: fixed;margin-top: -200px;left: 70%;top: 50%;z-index: 1005;width: 420px;background: #FFF none repeat scroll 0% 0%;border: 1px solid #999;height: 500px;margin-left: -460px;font_family: "Microsoft YaHei UI";">
    <h3 class="title" style="padding-left:30px;padding-bottom:5px;border-bottom:solid 1px #999;">基本注册信息<a href="javascript:void(0)" class="Basicclose" id="close"></a></h3>
    <div class="m-wrap" style="margin-top:30px;">
        <ul class="clearfix">
            <li class="li_1">
                <span class="pt_title">用户ID</span>
                <span class="pt_detail" id="userId" ></span>
            </li>
            <li class="li_1">
                <span class="pt_title">注册地</span>
                <span class="pt_detail" id="userLocation" ></span>
            </li>
            <li class="li_1">
                <span class="pt_title">性别</span>
                <span class="pt_detail" id="userGender" ></span>
            </li>
            <li class="li_1">
                <span class="pt_title">领域</span>
                <span class="pt_detail" id="userDomain" ></span>
            </li>
            <li class="li_1">
                <span class="pt_title">话题</span>
                <span class="pt_detail" id="userTopic" ></span>
            </li>
            <li class="li_1">
                <span class="pt_title">粉丝数</span>
                <span class="pt_detail" id="userFans" ></span>
            </li>
            <li class="li_1">
                <span class="pt_title">关注数</span>
                <span class="pt_detail" id="userFriend" ></span>
            </li>
            <li class="li_1">
                <span class="pt_title">在线方式</span>
                <span class="pt_detail" id="userOnline" ></span>
            </li>
        </ul>
    </div>
</div>
<div class='row'>
<div class="box col-md-12" >
    <div class="box-inner" id = 'box-height'>
        <div class="box-header" style="background-color:rgba(195,220,224,0.4)">
            <h2 style='margin-left:5px'>条件选择</h2>
        </div>
        <div class="box-content" style="height:200px">
            <div class="col-md-12">
                <label class='control-label'>关联维度（权重从1到10）：</label>
                <div class='controls'>
                    <div class='col-md-12' style="margin-bottom:4px">
                        <div class='col-lg-3'>
                            <input type='checkbox' class='inline-checkbox' value='option1' checked='checked'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white;background-color:white; display:inline-block" id="domain">领域</span>                             
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px'  value='1'>
                        </div>

                         <div class='col-lg-3'>
                            <input type='checkbox' class='inline-checkbox' value='option1'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white;background-color:white; display:inline-block" id="topic_string">话题</span>
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px' disabled>
                        </div>
                         <div class='col-lg-3'>
                            <input type='checkbox' class='inline-checkbox' value='option1'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white;background-color:white; display:inline-block" id="keywords_string">关键词</span>
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px' disabled>
                        </div>
                        <div class='col-lg-3'>
                            <input type='checkbox' class='inline-checkbox' value='option1'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" id="psycho_status_string">心理状态</span>
                             <input type='text' class="form-control" style='width:40%; display:inline-block;height:25px' disabled>
                        </div>
                    </div>
                    <div class='col-md-12' >
                        <div class='col-lg-3'>
                            <input type='checkbox' class='inline-checkbox' value='option1'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" id="activity_geo">地理特征</span>
                             <input type='text' class="form-control" style='width:40%; display:inline;height:25px' disabled>
                        </div>
                        <div class='col-lg-3' >
                            <input type='checkbox' class='inline-checkbox' value='option1'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" id="hashtag">hashtag</span>
                             <input type='text' class="form-control" style='width:40%; display:inline;height:25px' disabled>
                        </div>
                    </div>
                    <div class='col-md-12' id='tag'>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="padding-top:5px">
                <label class='control-label'>提升维度：</label>
                <div class='controls'>
                    <div class='col-md-12'>
                        <div class='col-lg-3'>
                            <input type='radio' id="default" name="inlineRadioOptions" value='option1' checked='checked'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" >无</span>
                        </div>
                        <div class='col-lg-3'>
                            <input type='radio' id="activeness" name="inlineRadioOptions" value='option1'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white;background-color:white; display:inline-block" >活跃度</span>
                        </div>
                        <div class='col-lg-3'>
                            <input type='radio' id="importance" name="inlineRadioOptions" value='option1'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" >重要度</span>
                        </div>
                        <div class='col-lg-3'>
                            <input type='radio' id="influence" name="inlineRadioOptions" value='option1'>
                            <span class="input-group-addon" style="width:96px;border:1px solid white; background-color:white;display:inline-block" >影响力</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style='margin-top:11px'>
                <div class='col-md-12' style='text-align:right; padding-right:35px'>
                    <span class="label label-success" style='cursor:pointer; background-color:rgba(69, 133, 195, 0.89)'>提交</span>
                </div>
            </div>
        </div>
    </div>
</div>
 
</div>
<div id="wrapper" style="padding-left:0px; overflow:visible">
        <div id='pager' style='text-align:right'></div>
        <div id='tabs' style='width:1000px'>
            <div id='txt'>
                <div class="main col-sm-9 col-md-10">
                    <div class="col-sm-12">
                        <div class="panel panel-default" style="width:1000px;margin-left:-30px" id='table'>
                        </div>
                    </div>
                    <div style=" margin-left:817px">
                        <button class="btn btn-primary btn-sm" style="width:80px;height:40px;margin-right:5px" name="compare_button" id="compare_button" title="选择2至3个用户对比"  onclick="compare_button();">个体对比</button>
                        <button class="btn btn-primary btn-sm" style="width:80px;height:40px;margin-right:5px" name="group_button" id="group_button" onclick="group_button();">群体分析</button>
                    </div>
                </div>
                
            </div>
            <div id='photo'>
                <div class="main col-sm-9 col-md-10">
                    <div class="col-sm-12">
                        <div class="panel panel-default" style="width:1000px; height:624px;margin-left:-30px" id='echart'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<div class="modal fade" id="Diymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document" style="width:1000px">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-size:18px" id="myModalLabel">群组成员</h4>
              </div>
              <div class="modal-body">
                <div style="font-size:18px;margin-top:-10px">选择用户添加标签</div>
                <div>
                    <span>选择类别：</span><span id='attribute_name' style="margin-left:10px"></span>
                    <span style='margin-left:20px'>选择标签：</span><span id='attribute_value' style="margin-left:10px"></span><span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="add_group_tag_button" title="确定选择" onclick="add_group_tag()">添加</button></span>
                <div id= "user_lable" style="margin-top:14px"></div>
              </div>
            </div>
          </div>
        </div>

</div>


<div class="modal fade" id="compare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:850px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">个体对比</h4>
      </div>
      <div class="modal-body">
        <div id="compare_comfirm" style="margin-top:20px"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="compare_confirm_button()">确认</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:850px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">群体分析</h4>
      </div>
      <div class="modal-body">
        <span>群体名称：</span><span style="margin-left:10px"><input type="text" name="group_name" style="width:270px;"placeholder="（必填）仅包含汉字、英文、数字和下划线" /></span>
        <span style="margin-left:10px;float:right"><input type="text" name="remark" style="width:400px" placeholder="（可选）仅包含汉字、英文、数字和下划线" /></span><span style="margin-left:10px;float:right">备注：</span>
        <div id="group_comfirm" style="margin-top:30px"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="group_confirm_button()">确认</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(function() {
        $('#tabs').carouFredSel({
            circular: false,
            items: 1,
            width: '100%',
            auto: false,
            pagination: {
                container: '#pager',
                anchorBuilder: function( nr ) {
                    if($(this).attr('id')== 'txt'){
                        return '<a href="#">列表视图</a>';
                    }
                    else{
                        return '<a href="#" style="margin-right:283px">图标视图</a>';
                    }
                    // return '<a href="#">' + $(this).find('h3').text() + '</a>';
                }
            }
        });
        var html = '<span  type="button" id="compare_button" title="选择2至3个用户对比" style="font-size:16px;cursor: pointer" onclick="diy_button();"><u style="background-color:rgba(69, 133, 195, 0.89);color:white;padding:2px">编辑自定义属性</u></span>';
        $('#pager').append(html);
        $('.caroufredsel_wrapper').css('height', '700px');
        $('#txt').css('height', '700px');
        $('#photo').css('height', '700px');
    });
    var uid = "{{ uid }}";
    function Personal(){
        this.ajax_method = 'GET';
    }
    Personal.prototype = {   //群组搜索
    call_sync_ajax_request:function(url, method, callback){
        $.ajax({
          url: url,
          type: method,
          dataType: 'json',
          async: false,
          success:callback
        });
        },
        personData:function(data){
            personalData = data ;
           console.log(data);
            
        }
    }
    var Personal = new Personal();
    var personalData; // global data

    var url = "/attribute/portrait_attribute/?uid=" + uid;
    Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.personData);

    var contact_url = '/index/contact/?uid=' + uid;
    $('#contact').attr('href', contact_url)
    var homepage_url = 'http://weibo.com/u/' + uid;
    $('#homepage').attr('href', homepage_url)
    var APsum = document.getElementById('APsum');
    APsum.innerHTML = personalData.all_count;
    var IPsum = document.getElementById('IPsum');
    IPsum.innerHTML = personalData.all_count;
    var FPsum = document.getElementById('FPsum');
    FPsum.innerHTML = personalData.all_count;
    var img = document.getElementById('portraitImg');
    //console.log(personalData.photo_url);
    if(personalData.photo_url == "unknown"){
        img.src =  "http://tp2.sinaimg.cn/1878376757/50/0/1";
    }else{
        img.src = personalData.photo_url;
    }
    var influencePower = document.getElementById('FPnum');
    if(personalData.influence){
        influencePower.innerHTML = personalData.influence.toFixed(2);
    }else{
        influencePower.innerHTML = "无此数据";
    }
    var importantPower = document.getElementById('IPnum');
    if(personalData.importance){
        importantPower.innerHTML = personalData.importance.toFixed(2);
    }else{
        importantPower.innertHTML = "无此数据";
    }
    var activePower = document.getElementById('APnum');
    if(personalData.activeness){
        activePower.innerHTML = personalData.activeness.toFixed(2);
    }else{
        activePower.innerHTML = "无此数据";
    }
    var nickName = document.getElementById('nickname');
    if(personalData.uname){
        if(personalData.uname=='unknown'){
            personalData.uname='未知';
            nickName.innerHTML = personalData.uname;
        }else{
            nickName.innerHTML = personalData.uname;
        }
    }else{
        nickName.innerHTML = "无此数据";
    }
    var detailPortrait = document.getElementById('portraitDetail');
    if(!personalData.description ){
        detailPortrait.innerHTML = "无此数据";
    }else{
        detailPortrait.innerHTML = personalData.description;
    }
    var I_rank = document.getElementById('IPrank');
    if(personalData.importance_rank){
        I_rank.innerHTML = personalData.importance_rank;
    }else{
        I_rank.innerHTML = "无此数据";
    }
    var A_rank = document.getElementById('APrank');
    if(personalData.activeness_rank){
        A_rank.innerHTML = personalData.activeness_rank;
    }else{
        A_rank.innerHTML = "无此数据";
    }
    var F_rank = document.getElementById('FPrank');
    if(personalData.influence_rank){
        F_rank.innerHTML = personalData.influence_rank;
    }else{
        F_rank.innerHTML = "无此数据";
    }
    var uid_div = document.getElementById('userId');
    if(personalData.uid){
        uid_div.innerHTML = personalData.uid;
    }else{
        uid_div.innerHTML = "无此数据";
    }
        
    var userlocation = document.getElementById('userLocation');
    if(personalData.location){
        userlocation.innerHTML = personalData.location;
    }else{
        userlocation.innerHTML = "无此数据";
    }
    var gender = document.getElementById('userGender');
    if(personalData.gender){
        gendernum = personalData.gender;
        if (gendernum==1){
            gender.innerHTML = '男';
        }else{
            gender.innerHTML = '女';
        }
    }else{
        gender.innerHTML = "无此数据";
    }
        
    var domain = document.getElementById('userDomain');
    if(personalData.domain){
            domain.innerHTML = personalData.domain;
    }else{
        domain.innerHTML = "无此数据";
    }
        
    var topic = document.getElementById('userTopic');
    if(personalData.topic){
        topicdict = personalData.topic;
        var str = '';
        for(i=0;i<topicdict.length;i++){
            if (i == (topicdict.length -1)){
                str += topicdict[i][0];
            }else{
                str = str + topicdict[i][0] +',';
            }
            
        }
        topic.innerHTML = str;
    }else{
        topic.innerHTML = "无此数据";
    }
        
    var fans = document.getElementById('userFans');
    if(personalData.fansnum){
        fans.innerHTML = personalData.fansnum;
    }else{
        fans.innerHTML = "无此数据";
    }
        
    var friends = document.getElementById('userFriend');
    if( personalData.friendsnum){
        friends.innerHTML = personalData.friendsnum;
    }else{
        friends.innerHTML = "无此数据";
    }
        
    var pattern = document.getElementById('userOnline');
    if(personalData.online_pattern[0][0]){
        pattern.innerHTML = personalData.online_pattern[0][0];
    }else{
        pattern.innerHTML = "无此数据";
    }

    $("#basic_info").off("click").click(function(){
        $("#float-wrap").removeClass("hidden");
        $("#basicInfo").removeClass("hidden");
        return false;
    });
    $(".Basicclose").off("click").click(function(){
        $("#float-wrap").addClass("hidden");
        $("#basicInfo").addClass("hidden");
        return false;
    });
</script>
<script type="text/javascript" src="/static/js/portrait/person_contact.js"></script>

{% endblock %}
