{% extends "tbase.html" %}
    {% block title %}群体分析{% endblock title%}
      {% block css %}
      {{ super() }}	    
    <link href="/static/bootstrap/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="/static/css/charisma-app.css" rel="stylesheet">

    <link href="/static/personal/css/activity.css" rel="stylesheet" type="text/css" />
    <style type="text/css">

    body {
  font-family: '微软雅黑';
  font-size: 14px;
	}
	ul,li{
	  list-style:none;
	}
	ul{
	  overflow:hidden;
	  padding:3em;
	}
	ul li a{
	  text-decoration:none;
	  color:#000;
	  background:#ffc;
	  display:block;
/*	  height:10em;
	  width:10em;*/
	  padding:1em;
	}
	/*ul li{
	  margin:1em;
	  float:left;
	}
	ul li h2{
	  font-size:140%;
	  font-weight:bold;
	  padding-bottom:10px;
	}
	ul li p{
	  font-family:"Reenie Beanie",arial,sans-serif;
	  font-size:180%;
	}*/
    #stickynote ul li a{
	  -webkit-transform: rotate(-6deg);
	  -o-transform: rotate(-6deg);
	  -moz-transform:rotate(-6deg);
	}
	#stickynote ul li a:hover,ul li a:focus{
	  box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	  -webkit-transform: scale(1.25);
	  -moz-transform: scale(1.25);
	  -o-transform: scale(1.25);
	  position:relative;
	  z-index:5;
	}
	.dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-50px;margin-bottom:-20px;}
 	a{TEXT-DECORATION:none}a:hover{TEXT-DECORATION:none}
 	</style>
 {% endblock css %}

 {% block head_js %}
  {{ super() }}
	<script type="text/javascript" src="/static/js/highstock.js" charset="utf-8"></script>  
	<script type="text/javascript" src="/static/js/portrait/group_analysis.js"></script> 
	<script type="text/javascript" src="/static/js/exporting.js" charset="utf-8"></script>
	<script src='/static/js/jquery.dataTables.min.js'></script>
  {% endblock head_js %}


    {% block main %}
    <div id="page">
         <div id="mainBubble">
        </div>
        <div id="content">
        	<div style='height:180px;width:100%' id='overview'>        	
			</div>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          基本属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <div id='sex' style='float:left;width:300px;height:200px'></div>        
			        <div id='verify' style='float:right;width:300px;height:200px'></div>
				    <div class="col-md-3 col-sm-3 col-xs-6"style='margin-left:60px' id='totalnumber'>

				    </div>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          活动属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
					<div id="line" style="height:300px;width:950px;float:left"></div>
			         <div id='top_platform' style='overflow-x:hidden;width:450px;float:left'>
			        </div>
				     <div id='top_location' style='overflow-x:hidden;width:450px;float:right'>
					 </div>

			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          社交特征
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			      	<div id='social_line'style='width:700px;height:300px;float:left'></div>
				     <div id='group' style='overflow-x:hidden;width:250px;margin-top:100px;float:right'>
			        </div>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          思想属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
					<div>
						<div id="radar_status" style="height:250px;width:230px;float:left"></div>
						<div id="radar_topic" style="height:250px;width:230px;float:right"></div>
						<div id="radar_psycho" style="height:250px;width:230px;float:left"></div>
						<div id="radar_domain" style="height:250px;width:230px;float:right"></div>
					</div>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFive">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			          语言属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			      <div class="panel-body">

					<div id='hashtag' style='overflow-x:hidden;width:300px;height:300;float:left'>
		        	</div>
		     		<div id='emotion' style='overflow-x:hidden;width:200px;height:300;float:right'>		     	
			        </div>
					<div id="keywordcloud" style="height:300px;width:450px;height:300;float:left"></div>

			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			          影响力属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body">

			      	<div id='importance'style='width:480px;height:420px;float:left'></div>
			      	<div id='activeness'style='width:480px;height:420px;float:right'></div>
			      	<div id='influence'style='width:480px;height:420px;float:left'></div>
				     <div id='weibo' style='overflow-x:hidden;width:480px;margin-top:100px;float:right'>
					 </div>
			      </div>
			    </div>
			  </div>

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">群组成员</h4>
				      </div>
				      <div class="modal-body" id='group_user'>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
        </div>
    </div>			
    {% endblock main %}

    {% block Own_js %}
    {{ super() }}
    <script>
        var name = "{{ name }}";
        console.log(name);
    </script>
	<script type="text/javascript" src="/static/js/portrait/group_analysis.js"></script>
	<script type="text/javascript" src="/static/js/portrait/group_user.js"></script>


	{% endblock Own_js %}

