{% extends "tbase.html" %}
    {% block title %}群体分析{% endblock title%}
      {% block css %}
      {{ super() }}	    
    <link href="/static/bootstrap/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="/static/css/charisma-app.css" rel="stylesheet">
    <link href="/static/personal/css/activity.css" rel="stylesheet" type="text/css">
    <link href="/static/css/timeline.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    body {
  font-family: '微软雅黑';
  font-size: 14px;
	}
	ul,li{
	  list-style:none;
	}
	.gs_ul{
	  overflow:hidden;
	  padding:3em;
	}
	#stickynote ul li a{
	  text-decoration:none;
	  color:#000;
	  background:#ffc;
	  display:block;
	  padding:1em;
	}
    #stickynote ul li a{
	  -webkit-transform: rotate(-6deg);
	  -o-transform: rotate(-6deg);
	  -moz-transform:rotate(-6deg);
	}
	#stickynote ul li a:hover, #stickynote ul li a:focus{
	  box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	  -webkit-transform: scale(1.25);
	  -moz-transform: scale(1.25);
	  -o-transform: scale(1.25);
	  position:relative;
	  z-index:5;
	}
	.dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-50px;margin-bottom:-20px;}
 /*	a{TEXT-DECORATION:none}a:hover{TEXT-DECORATION:none}*/
 	</style>
 {% endblock css %}

 {% block head_js %}
  {{ super() }}
	<script type="text/javascript" src="/static/js/highstock.js" charset="utf-8"></script>  
	<script type="text/javascript" src="/static/js/exporting.js" charset="utf-8"></script>
	<script type="text/javascript" src="/static/js/emoticon.js" charset="utf-8"></script>
	<script type="text/javascript" src='/static/js/esl.js'></script>
	<script type="text/javascript" src='/static/js/echarts-all.js'></script>
	<script type="text/javascript" src='/static/js/echarts.js'></script>

  {% endblock head_js %}


    {% block main %}
    <div id="page">
         <div id="mainBubble">
        </div>
        <div id="content">
        	<div style='height:180px;width:100%' id='overview'>        	
			</div>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          基本属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <div id='sex' style='float:left;width:300px;height:200px'></div>        
			        <div id='verify' style='float:right;width:300px;height:200px'></div>
				    <div class="col-md-3 col-sm-3 col-xs-6"style='margin-left:80px' id='totalnumber'>
				    </div>
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          活动属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
					<div id="line" style="height:400px;width:950px;float:left"></div>
			         <div id='top_platform' style='overflow-x:hidden;width:450px;float:left;margin-top:20px'>
			        </div>
				     <div id='top_location' style='overflow-x:hidden;width:450px;float:right;margin-top:20px'>
					 </div>
					 <div id="top_active_geo" style="height:250px;width:1000px;float:left"></div>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          语言属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">

					<div id='hashtag' style='overflow-x:hidden;width:300px;height:300;float:left'>
		        	</div>
		     		<div id='emotion' style='overflow-x:hidden;width:200px;height:300;float:right'>		     	
			        </div>
					<div style="width:450px;height:300;float:left">
					<div><span style="font-size:17px;margin-left:50px;">关键词云</span><span type="button"data-toggle="modal" data-target="#modal_keyword" style="font-size:17px;margin-left:200px;"><u>查看更多</u></span></div>
					<div id="keywordcloud" style="width:450px;height:300px"></div>
					</div>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          传播属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">

			      	<div id='importance'style='width:320px;height:420px;float:left'></div>
			      	<div id='activeness'style='width:320px;height:420px;float:right'></div>
			      	<div id='influence'style='width:320px;height:420px;float:left'></div>
				     <div id='weibo' style='width:960px;float:left;margin-top:10px;max-height:520px;'>
					 </div>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFive">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			          标签属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			      <div class="panel-body">
						<div style="height:400px;width:450px;float:left">
						<div style="font-size:17px;margin-bottom:20px;">领域划分</div>
						<div id="radar_domain" style="height:380px;width:450px;"></div>
						</div>
						<div style="height:400px;width:450px;float:right">
						<div style="font-size:17px;margin-bottom:20px;">话题划分</div>
						<div id="radar_topic" style="height:380px;width:450px;"></div>
						</div>
			      </div>
			    </div>
			  </div>



			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			          社交属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body">
			      
			      	<div id='group' style='overflow-x:hidden;'></div>



			          <div class="box-content">
			            <ul class="nav nav-tabs" id="myTab">
			                <li class="active" title="群组内转发视图"><a href="#group_in_picture">群组内转发视图</a></li>
			                <li title="群组内转发列表"><a href="#group_in_table">群组内转发列表</a></li>
			            </ul>
			            <div id="myTabContent" class="tab-content">
			                <div class="tab-pane active" id="group_in_picture" style="margin-top:10px">
			                    <div id='relation_picture'style='width:900px;height:350px'></div>                 
			                </div>
			                <div class="tab-pane" id="group_in_table" style="margin-top:10px">
			                    <div id='relation_table' style='overflow-x:hidden;width:965px;height:350px'></div>
			                </div>          
			            </div>
			           </div>

					

			      	
			      	
			      	<div style="float:left"><span style="font-size:17px">群组外对该群组转发关系</span><span type="button"data-toggle="modal" data-target="#more_group_out" style="font-size:17px;margin-left:710px;cursor: pointer"><u>查看更多</u></span></div>
			      	<div id='relation_active_table' style='overflow-x:hidden;width:965px'></div>	 
			      </div>
			    </div>
			  </div>


			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSeven">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
			          思想属性
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
			      <div class="panel-body">
					<div>
						<div style="height:400px;width:450px;float:left">
						<div style="font-size:17px;margin-bottom:20px;">心理状态划分</div>
						<div id="pie_emotion" style="height:380px;width:450px;"></div>
						</div>
						<div style="height:400px;width:450px;float:right">
						<div style="font-size:17px;margin-bottom:20px;">倾向性划分</div>
						<div id="radar_tendency" style="height:380px;width:450px;"></div>
						</div>
					</div>
			      </div>
			    </div>
			  </div>


				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">群组成员</h4>
				      </div>
				      <div class="modal-body" id='group_user'>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="more_group_out" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">群组外转发该群组微博数</h4>
				      </div>
				      <div class="modal-body" id='more_group_out_user'>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="rank_hashtag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">hashtag排名</h4>
				      </div>
				      <div class="modal-body" id='more_hashtag'>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="rank_emotion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">表情符号排名</h4>
				      </div>
				      <div class="modal-body" id='more_emotion'>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="rank_platform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">发布平台排名</h4>
				      </div>
				      <div class="modal-body" id='top_more_platform'>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="rank_geo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">发布地点排名</h4>
				      </div>
				      <div class="modal-body" id='top_more_location'>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="modal_keyword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">关键词</h4>
				      </div>
				      <div class="modal-body" id='more_keyword'>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="modal fade" id="modal_group_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document" style="width:950px;margin-top:60px">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">群组内转发列表</h4>
				      </div>
				      <div class="modal-body" id='more_group_in'>
				      </div>
				    </div>
				  </div>
				</div>

			</div>
        </div>
    </div>			
    {% endblock main %}

    {% block Own_js %}
    {{ super() }}
    <script>
      $(function () { 
	    $('#myTab a:first').tab('show');//初始化显示哪个tab 
	  
	    $('#myTab a').click(function (e) { 
	      e.preventDefault();//阻止a链接的跳转行为 
	      $(this).tab('show');//显示当前选中的链接及关联的content 
	    }) 
	  }) 
        var name = "{{ name }}";
        $(document).ready(function(){
            $("#closeness_tooltip").tooltip();
            $("#weibo_tooltip").tooltip();
            $("#join_tooltip").tooltip(); 
            $("#node_tooltip").tooltip();          
        })
	$(function(){	
		//首页大事记
		$('.course_nr2 li').find('.shiji').slideDown(600);	
	});
	var myChart = echarts.init(document.getElementById('relation_picture'));
    </script>
	<script type="text/javascript" src="/static/js/portrait/group_analysis.js"></script>
    {% endblock Own_js %}
    {% block end_js %}
    {{ super() }}
   	<script type="text/javascript" src="/static/js/portrait/group_table.js"></script>
    {% endblock end_js %}

