{% extends "tbase.html" %}
    {% block title %}整体概览{% endblock title%}
      {% block css %}
      {{ super() }}
    
		<link href="/static/css/dashboard.css" rel="stylesheet">		    
    <link href="/static/bootstrap/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href='/static/bower_components/fullcalendar/css_js/fullcalendar.css' rel='stylesheet'>
    <link href='/static/bower_components/fullcalendar/css_js/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='/static/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='/static/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='/static/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='/static/bower_components/bootstrap-tour/css_js/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='/static/css/jquery.noty.css' rel='stylesheet'>
    <link href='/static/css/noty_theme_default.css' rel='stylesheet'>
    <link href='/static/css/elfinder.min.css' rel='stylesheet'>
    <link href='/static/css/elfinder.theme.css' rel='stylesheet'>
    <link href='/static/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='/static/css/uploadify.css' rel='stylesheet'>
    <link href='/static/css/animate.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/portrait.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/charisma-app.css" rel="stylesheet">
    <style type="text/css">
    body {
  font-family: '微软雅黑';
  font-size: 14px;
	}
  #showBtn {
   text-decoration: underline; 
}

 	</style>
 {% endblock css %}

 {% block head_js %}
  {{ super() }}
	<script type="text/javascript" src="/static/js/portrait/overview.js"></script>   
  {% endblock head_js %}


    {% block main %}
    <div id="page">
         <div id="mainBubble">
        </div>
        <div id="user_num">			
        </div>
        <div>
        <h4 class="page-header" style='margin-top:0px'>基本信息</h4>
        <div id='sex' style='float:left;width:300px;height:230px'></div>
        
        <div id='vertify' style='float:right;width:300px;height:230px'></div>
        <div id='keywordcloud' style='float:left;width:400px;height:230px'></div>
        </div>
        <h4 class="page-header"style='margin-top:0px'>领域重点用户</h4>	
        <div class="row category margin-bottom-20" id='domain_portrait'>
        </div>
     </div>
     <div>
        <h4 class="page-header"style='margin-top:0px'>用户最近行为信息</h4>	
        <div><span style='font-size:16px'>活跃地区排名</span><span style="margin-left:255px;font-size:16px">注册位置排名</span><span style="margin-left:255px;font-size:16px">热门hashtag排名</span></div>
         <div class="table-responsive"id='domain' style='overflow-x:hidden;width:300px;height:250px;float:left'>
        </div>
         <div class="table-responsive"id='hashtag' style='overflow-x:hidden;width:300px;height:250px;float:right'>
        </div>
         <div class="table-responsive"id='location' style='overflow-x:hidden;width:300px;height:250px;margin-left:350px'>
        </div>
         <div><span style='font-size:16px'>主流上网方式排名</span><span style="margin-left:220px;font-size:16px">热门话题偏好排名</span><span style="margin-left:220px;font-size:16px">转发量排名</span></div>
         <div class="table-responsive"id='online_pattern' style='overflow-x:hidden;width:300px;height:250px;float:left'>
        </div>
         <div class="table-responsive"id='retweeted_user' style='overflow-x:hidden;width:300px;height:250px;float:right'>             
        </div>
         <div class="table-responsive"id='topic' style='overflow-x:hidden;width:300px;height:250px;margin-left:350px'>              
        </div>
      </div>
    {% endblock main %}

    {% block Own_js %}
    {{ super() }}
{% endblock Own_js %}

