{% extends "tbase.html" %}
{% block title %}个人详情{% endblock title %}

{% block css %}
{{ super() }}
<link  type="text/css" href="/static/personal/css/style.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/basic.css" rel="stylesheet"/>
<link  type="text/css" href="/static/personal/css/framestyle.css" rel="stylesheet"/>
{% endblock css %}

{% block head_js %}
{{ super() }}
<!--
<script type="text/javascript" src="/static/personal/js/jquery-1.7.2.min.js" ></script>
-->
<script type="text/javascript">
$(function(){
	/**软件功能切换js**/
	$(".soft_con_icon ul li a").click(function(){
		var id = $(this).attr("id");
		var x=$(this).parent().index();
		$(this).children("p").css({"color":"#008dd9"}).parent().parent().siblings().children().children("p").css({"color":"#333333"});
        /*
        var src1=id+"_hover.gif"
		$(".soft_con_icon ul li a").each(function(index, element) {
         	var other_id = $(this).attr("id");
			if(id == other_id){
			   $(this).children("img").attr("src","/static/personal/images/"+src1);
			}else{
			   var src2 = other_id+".gif";
			   $(this).children("img").attr("src","/static/personal/images/"+src2);
			}
            });
         */
        //console.log(x+'clicked');
		if(x==0){
		   $("#xzgl").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":" url(/static/personal/images/line_select_001.gif)"});
		}else if(x==1){
		   $("#crm").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":"url(/static/personal/images/line_select_002.gif)"});
		}else if(x==2){
		   $("#xmgl").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":"url(/static/personal/images/line_select_003.gif)"});
		}else if(x==3){
		   $("#zsgl").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":"url(/static/personal/images/line_select_004.gif)"});
		}else{
		   $("#ydbg").css({"display":"block"}).siblings().css({"display":"none"});
		   $(".soft_con1").css({"background":"url(/static/personal/images/line_select_005.gif)"});
		}
	});
	
});
</script>

{% endblock head_js %}

{% block main %}
<div id="basicwrapper">
	<!-- end #menu -->
	<div id="basicpage">
	<div id="basicpage-bgtop">
    <div id="basicpage-bgbtm">
        <div class="framepost" id="frametopbar">
            <h3 class='title'>个人注册信息</h3>
            <div style="width:180px; float:left;margin:10px;"><span class="img-photo"><img id="portraitImg" src="http://tp2.sinaimg.cn/1878376757/50/0/1" alt="Photo" width="170" height="170" /></span></div>
            <div style="width:750px; float:right;padding-top:10px;padding-right:10px;">
                <div style="height:70px; margin-bottom: 8px;">
                  <div style="width:640px; float:left;">
                      <span class="nickname" id="nickname"></span>
                    <a style="font-size:15px;margin-left:15px;" href='#detail' onclick="$('#detail').css('display','block');">查看详细属性</a>
                    <div class="PersonPre" style="margin-bottom:5px;">
                        <!--<span class="lightw">个人描述：</span>-->
                        <span class="" style="font-family: "宋体";" id="portraitDetail"></span>
                    </div>
                  </div>
                  <div style="width:100px; font-size:15px;float:right; text-align: right;">
                      <br />
                      <a id="homepage" target="_blank" style="cursor:pointer;">ta的微博主页</a>
                      <br />
                      <a id="contact" target="_blank" style="cursor:pointer;">与ta相关的人</a>
                      <br/>
                  </div>
                </div>
              </div>
              <div style="width:750px; float:right;">
                <div style="height:90px;font-weight:bold;font-size:14px;margin-right:10px;border-style:solid;border-width: 1px; padding: 5px; border-color: #CCCCCC; background-color: #FFFFFF;">
                    <div class="cols" style="width:700px;margin-top:0px;">
                        <div style="width:230px;height:40px;float:left;">
                            <span class="lightw fleft lineh42 mright38">用户ID</span>
                            <span class="fleft lineh42 mright38" id="userId" ></span>
                        </div>
                        <div style="width:245px;height:40px;float:left;">
                            <span class="lightw fleft lineh42 mright38">注册地</span>
                            <span class="fleft lineh42 mright38" id="userLocation" ></span>
                        </div>
                        <div style="width:215px;height:40px;float:left;">
                            <span class="lightw fleft lineh42 mright38">性&nbsp;&nbsp;&nbsp;别</span>
                            <span class="fleft lineh42 mright38" id="userGender" ></span>
                        </div>
                    </div>
                    <div class="cols" style="width:700px;margin-top:0px;">
                        <div style="width:230px;height:40px;float:left;">
                            <span class="lightw fleft lineh42 mright38">粉丝数</span>
                            <span class="fleft lineh42 mright38" id="userFans" ></span>
                        </div>
                        <div style="width:245px;height:40px;float:left;">
                            <span class="lightw fleft lineh42 mright38">关注数</span>
                            <span class="fleft lineh42 mright38" id="userFriend" ></span>
                        </div>
                        <div style="width:215px;height:40px;float:left;">
                            <span class="lightw fleft lineh42 mright38">微博数</span>
                            <span class="fleft lineh42 mright38" id="userWeibo" ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="framecontent">
            <div class="framepost">
                <h3 class="title">系统画像信息</h3>
                <div class="entry">
                    <div style="height:160px;width:100%;" id='overview'>
                        <div style='height:150px;width:10%;float:left;'>
                            <select style='margin-top:108px;margin-left:10px;' id='status_option'>
                                <option value='latest'>最新</option>
                                <option value='longterm'>长期</option>
                            </select>
                        </div>
                        <table style="height:150px;width:90%;">
                            <tr>
                                <td style="text-align:center;vertical-align:middle;width:185px;"><img src="/static/img/activeness.png" style="height:80px"></td>
                                <td style="text-align:center;vertical-align:middle;width:185px;"><img src="/static/img/importance.png" style="height:80px"></td>
                                <td style="text-align:center;vertical-align:middle;width:185px;"><img src="/static/img/influence.png" style="height:80px"></td>
                            </tr>
                            <tr style='font-size:14px;'>
                                <td style="text-align:center;vertical-align:middle">
                                    <span class=" red" id="APnum"></span>(No.<span id="APrank"></span>/<span id="APsum"></span>)
                                </td>
                                <td style="text-align:center;vertical-align:middle">
                                    <span class=" red" id="IPnum"></span>(No.<span id="IPrank"></span>/<span id="IPsum"></span>)
                                </td>
                                <td style="text-align:center;vertical-align:middle">
                                    <span class=" red" id="FPnum"></span>(No.<span id="FPrank"></span>/<span id="FPsum"></span>)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0px;font-size:14px;text-align:center;vertical-align:middle"><b>活跃度<i id="" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="（日更新）衡量该用户线上线下的活跃程度，通过发布微博综述、活跃地区数、发布微博的时间走势计算得到"></i>&nbsp;&nbsp;</b></td>
                                <td style="padding:0px;font-size:14px;text-align:center;vertical-align:middle"><b>重要度<i id="" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="（月更新）衡量该用户对社会网络安全业务的重要程度，通过所属领域和偏好话题计算得到"></i>&nbsp;&nbsp;</b></td>
                                <td style="padding:0px;font-size:14px;text-align:center;vertical-align:middle"><b>影响力<i id="" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="（日更新）衡量该用户整体的影响力，通过原创微博、转发微博的评论和转发的最高值、均值、总量计算得到"></i>&nbsp;&nbsp;</b></td></tr>
                        </table>
                    </div>
                    <div class="m-wrap" style="margin-top;0px;">
                        <ul id="vector_table"class="clearfix">
                        </ul>
                    </div>
                </div>
            </div>
        <!--<div style="clear: both;">&nbsp;</div>-->
        </div>
        <!-- end #content -->
		<div id="framesidebar">
			<ul>
				<li>
                    <h3 style="padding:5px;">业务备注信息</h3>
                    <ul style="padding:0px;">
                        <div id="ptag" class="fleft" style="font-size:14px;width:240px;margin-top:20px;">
                            <!--
                            <div class="tagClo fleft" ><span style="color:red;">test1</span>:<span class="tagbg"><span>tag1<span><a id="delIcon"></a></span></div>
                            <div class="tagClo fleft" ><span style="color:red;">test1</span>:<span class="tagbg"><span>tag1<span><a id="delIcon"></a></span></div>
                            -->         
                        </div>
                        <div id="addM" style="font-size:14px;border-bottom:solid 1px lightgrey;border-top:solid 1px lightgrey;width:240px;padding-top:20px;padding-bottom:20px;padding-right:25px;" class="fleft">
                            <div >
                                <span style="margin-left:30px;">选择类别：</span>
                                <span id="attribute_name_zh" style="margin-left:10px">
                                    
                                </span>
                            </div>
                            <div style="margin-top:20px;">
                                <span style="margin-left:30px">选择标签：</span>
                                <span id="attribute_value_zh" style="margin-left:10px">
                                    
                                </span>
                            </div>
                            <span style=""><button class="btn btn-primary btn-sm" style="width:80px;height:30px;margin-top:30px;margin-left:30px;float:right;" id="add_person_tag_button" title="确定选择" onclick="add_person_tag()">添加</button></span>
                        </div>
                        <div class="PersonPre" style="margin-top:0px;padding:10px;"><span class="lightw">备注：</span>
                            <span style="font-family: '宋体';"id="extraDetail"></span>
                        </div>
                    </ul>
                </li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<!--<div style="clear: both;">&nbsp;</div>-->
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
<div id="float-wrap" class="hidden"></div>





<script type="text/javascript">
 function Personal(){
	this.ajax_method = 'GET';
}
Personal.prototype = {   //群组搜索
    call_sync_ajax_request:function(url, method, callback){
        $.ajax({
          url: url,
          type: method,
          dataType: 'json',
          async: false,
          success:callback
        });
	},
	personData:function(data){
		personalData = data ;
        //console.log(data);
        var contact_url = '/index/contact/?uid=' + uid;
        $('#contact').attr('href', contact_url)
        var homepage_url = 'http://weibo.com/u/' + uid;
        $('#homepage').attr('href', homepage_url)
        var APsum = document.getElementById('APsum');
        APsum.innerHTML = personalData.all_count;
        var IPsum = document.getElementById('IPsum');
        IPsum.innerHTML = personalData.all_count;
        var FPsum = document.getElementById('FPsum');
        FPsum.innerHTML = personalData.all_count;
        var img = document.getElementById('portraitImg');
        //console.log(personalData.photo_url);
        if(personalData.photo_url == "unknown"){
            img.src =  "http://tp2.sinaimg.cn/1878376757/50/0/1";
        }else{
            img.src = personalData.photo_url;
        }
        var influencePower = document.getElementById('FPnum');
        if(personalData.influence){
            influencePower.innerHTML = personalData.influence.toFixed(2);
        }else{
            influencePower.innerHTML = "无此数据";
        }
        var importantPower = document.getElementById('IPnum');
        if(personalData.importance){
            importantPower.innerHTML = personalData.importance.toFixed(2);
        }else{
            importantPower.innertHTML = "无此数据";
        }
        var activePower = document.getElementById('APnum');
        if(personalData.activeness){
            activePower.innerHTML = personalData.activeness.toFixed(2);
        }else{
            activePower.innerHTML = "无此数据";
        }
        var nickName = document.getElementById('nickname');
        if(personalData.uname){
            if (personalData.uname == 'unknown') {
                nickName.innerHTML = '未知';
            }
            else{
                nickName.innerHTML = personalData.uname;
            }
        }else{
            nickName.innerHTML = "无此数据";
        }
        var detailPortrait = document.getElementById('portraitDetail');
        if(!personalData.description ){
            detailPortrait.innerHTML = "无此数据";
        }else{
            detailPortrait.innerHTML = personalData.description;
        }
        var I_rank = document.getElementById('IPrank');
        if(personalData.importance_rank){
            I_rank.innerHTML = personalData.importance_rank;
        }else{
            I_rank.innerHTML = "无此数据";
        }
        var A_rank = document.getElementById('APrank');
        if(personalData.activeness_rank){
            A_rank.innerHTML = personalData.activeness_rank;
        }else{
            A_rank.innerHTML = "无此数据";
        }
        var F_rank = document.getElementById('FPrank');
        if(personalData.influence_rank){
            F_rank.innerHTML = personalData.influence_rank;
        }else{
            F_rank.innerHTML = "无此数据";
        }
        var uid_div = document.getElementById('userId');
        if(personalData.uid){
            uid_div.innerHTML = personalData.uid;
        }else{
            uid_div.innerHTML = "无此数据";
        }
            
        var userlocation = document.getElementById('userLocation');
        if(personalData.location){
            if(personalData.location == 'unknown'){
                userlocation.innerHTML = "无此数据";
            }else{
                userlocation.innerHTML = personalData.location;
            }
        }else{
            userlocation.innerHTML = "无此数据";
        }
        var gender = document.getElementById('userGender');
        if(personalData.gender){
            gendernum = personalData.gender;
            if (gendernum==1){
                gender.innerHTML = '男';
            }else{
                gender.innerHTML = '女';
            }
        }else{
            gender.innerHTML = "无此数据";
        }
        var fans = document.getElementById('userFans');
        if(personalData.fansnum){
            fans.innerHTML = personalData.fansnum;
        }else{
            fans.innerHTML = "无此数据";
        }
            
        var friends = document.getElementById('userFriend');
        if( personalData.friendsnum){
            friends.innerHTML = personalData.friendsnum;
        }else{
            friends.innerHTML = "无此数据";
        }
            
        var pattern = document.getElementById('userWeibo');
        if(personalData.statusnum){
            pattern.innerHTML = personalData.statusnum;
        }else{
            pattern.innerHTML = "无此数据";
        }
		
	},
    remarkData:function(data){
        //console.log(data);
        if (data == ''){
            $('#extraDetail').html('暂无');
        }
        else{
            $('#extraDetail').html(data);
        }
    },
    historyData:function(data){
        //console.log(data);
        histData = data;
    },
}
var global_tag_vector = new Array(); //全局标签化向量

var uid = "{{ uid }}";
var Personal = new Personal();
var personalData; // global data
var histData;
var url = "/attribute/portrait_attribute/?uid=" + uid;
Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.personData);
var url = "/attribute/get_remark/?uid=" + uid;
Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.remarkData);
var url = "/attribute/history_activeness_influence/?uid=" + uid;
Personal.call_sync_ajax_request(url, Personal.ajax_method, Personal.historyData);
var url = "/attribute/current_tag_vector/?uid=" + uid;
Personal.call_sync_ajax_request(url, Personal.ajax_method, currentData);

function currentData(data){
    //console.log(data);
    //global_tag_vector.push(['昨日影响力评价',data[0]]);
}
function bind_status_option(){
    $('#status_option').change(function(){
        //console.log($(this).val());
        if ($(this).val() == 'latest'){
            var APsum = document.getElementById('APsum');
            APsum.innerHTML = personalData.all_count;
            var IPsum = document.getElementById('IPsum');
            IPsum.innerHTML = personalData.all_count;
            var FPsum = document.getElementById('FPsum');
            FPsum.innerHTML = personalData.all_count;
            var influencePower = document.getElementById('FPnum');
            if(personalData.influence){
                influencePower.innerHTML = personalData.influence.toFixed(2);
            }else{
                influencePower.innerHTML = "无此数据";
            }
            var importantPower = document.getElementById('IPnum');
            if(personalData.importance){
                importantPower.innerHTML = personalData.importance.toFixed(2);
            }else{
                importantPower.innertHTML = "无此数据";
            }
            var activePower = document.getElementById('APnum');
            if(personalData.activeness){
                activePower.innerHTML = personalData.activeness.toFixed(2);
            }else{
                activePower.innerHTML = "无此数据";
            }
            var I_rank = document.getElementById('IPrank');
            if(personalData.importance_rank){
                I_rank.innerHTML = personalData.importance_rank;
            }else{
                I_rank.innerHTML = "无此数据";
            }
            var A_rank = document.getElementById('APrank');
            if(personalData.activeness_rank){
                A_rank.innerHTML = personalData.activeness_rank;
            }else{
                A_rank.innerHTML = "无此数据";
            }
            var F_rank = document.getElementById('FPrank');
            if(personalData.influence_rank){
                F_rank.innerHTML = personalData.influence_rank;
            }else{
                F_rank.innerHTML = "无此数据";
            }
        }
        else{
            var hist_sum;
            if (histData[6] > 10000){
                hist_sum = Math.floor(histData[6]/10000) + '万';
            }
            else{
                hist_sum = histData[6];
            }
            $('#APnum').html(histData[0].toFixed(2));
            $('#APrank').html(histData[1]);
            $('#APsum').html(hist_sum);
            $('#FPnum').html(histData[2].toFixed(2));
            $('#FPrank').html(histData[3]);
            $('#FPsum').html(hist_sum);
            $('#IPnum').html(histData[4].toFixed(2));
            $('#IPrank').html(histData[5]);
            $('#IPsum').html(hist_sum);
        }
    });
}
bind_status_option();
function bind_remark_edit(Personal){
    $('#extraDetail').click(function(){
        var td = $(this);
        var txt = td.html();
        var input = "<input id='editremark' style='width:150px;' type='text' value='" + txt + "'/>";
        td.html(input);
        $('#editremark').click(function(){
            return false;
        });
        $('#editremark').trigger('focus');
        $('#editremark').bind('keyup', function(e){
            var ev = document.all?window.event:e;
            if (ev.keyCode == 13){
                var newtxt = $(this).val();
                if (newtxt == ''){
                    td.html('暂无');
                }
                else{    
                    td.html(newtxt);
                }
                if (newtxt != txt){
                    var url = '/attribute/edit_remark/?uid=' + uid + '&remark=' + newtxt;
                    Personal.call_sync_ajax_request(url, Personal.ajax_method, confirm_edit);
                    //console.log('diff');
                }
            }
        }).bind('keydown', function(e){
            var ev = document.all?window.event:e;
            if (ev.keyCode == 13){
                return false;
            }
        });
        $('#editremark').blur(function(){
            var newtxt = $(this).val();
            if (newtxt == ''){
                td.html('暂无');
            }
            else{    
                td.html(newtxt);
            }
            if (newtxt != txt){
                var url = '/attribute/edit_remark/?uid=' + uid + '&remark=' + newtxt;
                Personal.call_sync_ajax_request(url, Personal.ajax_method, confirm_edit);
                //console.log('diff');
            }
        });
        function confirm_edit(data){
            //alert(data);
        }
    });
}
bind_remark_edit(Personal);

	
</script>

<script type="text/javascript" src="/static/js/portrait/show_tag.js"></script> 

<div class="soft_function" id="detail" style='display:none;'>
    <p><a style="font-size:15px;margin-left:15px;" href='#basicpage' onclick="$('#detail').css('display','none');">收起详细属性</a></p>
	<div class="soft_con_icon">
		<ul>
			<li><a id="pic_fun_adm" href="#detail"><img src="/static/personal/images/activity.png"/><p style="color:#008dd9">活动特征</p></a></li>
            <li><a id="pic_fun_crm" href="#detail"><img  src="/static/personal/images/language.png"/><p>偏好特征</p></a></li>
            <li><a id="pic_fun_project" href="#detail"><img  src="/static/personal/images/basic.png"/><p>影响力特征</p></a></li>
			<li><a id="pic_fun_k" href="#detail"><img  src="/static/personal/images/social.png"/><p>社交特征</p></a></li>
			<li><a id="pic_fun_mobile" href="#detail"><img  src="/static/personal/images/thought.png"/><p>思想特征</p></a></li>

		</ul>
	</div> 

	<div class="soft_con1" style="background:url(/static/personal/images/line_select_001.gif);"></div>

	<div class="soft_con">

		<div id="xzgl" class="soft_con2">
            {% include "portrait/detail/activity.html"%}
        </div>
	
		<div id="crm" class="soft_con2" style="display:none">
            {% include "portrait/detail/language.html"%}
        </div>
	
		<div id="xmgl" class="soft_con2" style="display:none">
            {% include "portrait/detail/basic.html"%}
		</div>
		<div id="zsgl" class="soft_con2" style="display:none">
            {% include "portrait/detail/social.html"%}
		</div>
	
		<div id="ydbg" class="soft_con2" style="display:none">
            {% include "portrait/detail/thought.html"%}
        </div>
	</div>
	
</div>

{% endblock main %}

{% block Own_js %}
{{ super() }}
<script>
    $('#vector_table').empty();
    var html = '';
    for (var i = 0;i < global_tag_vector.length; i++){
        var unit = global_tag_vector[i];
        html += '<li class="li_1"><span class="pt_title">';
        html += unit[0] + '</span><span class="pt_detail">';
        html += unit[1] + '</span></li>';
    }
    //console.log('tagvector');
    //console.log(global_tag_vector);
    $('#vector_table').html(html);
</script>
{% endblock Own_js%}
