{% extends "tbase.html" %}
{% block title %}出库推荐{% endblock title%}
{% block css %}
{{ super() }}
<style>
    .dataTables_filter{text-align:right;margin-bottom:5px;}
    .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}
</style>
{% endblock css %}
{% block main %}
<h4 class="page-header">出库推荐</h4>
<div class="box-content">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active" title="出库推荐"><a href="#info">出库推荐</a></li>
        <li title="出库历史"><a href="#messages">出库历史</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active" id="info" style="margin-top:10px">
            <!-- 
            <span>推荐日期：</span><span id="recommend_date" style="margin-left:10px">
                <select id="recommend_date_select" style="width:110px;height:20px;"></select></span>
            <span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="recommend_date_button" title="确定日期选择">确定</button></span>
            -->
            <div id="recommend" style="margin-top:10px"></div>
            <div style="text-align:right">
                <button class="btn btn-primary btn-sm" style="width:80px;height:40px;margin-right:10px" name="no_recommend_button" id="no_recommend_button">不再推荐</button>
                <button class="btn btn-primary btn-sm" style="width:80px;height:40px" name="recommend_button" id="recommend_button">选择出库</button>
            </div>
        </div>
        <div class="tab-pane" id="messages" style="margin-top:10px">
            <span>出库日期：</span><span id="history_date" style="margin-left:10px">
                <select id="history_date_select" style="width:110px;height:20px;"></select></span>
            <span style="margin-left:10px"><button class="btn btn-primary btn-sm" style="width:80px;height:30px" id="history_date_button" title="确定日期选择">确定</button></span>
            <div id="history" style="margin-top:10px"></div>
            <div style="text-align:right">
                <button class="btn btn-primary btn-sm" style="width:80px;height:40px" name="history_button" id="history_button">恢复</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block Own_js %}
{{ super() }}
<script type="text/javascript" src="/static/js/portrait/out_extra.js"></script>
<script type="text/javascript" src="/static/js/portrait/recommend_out.js"></script>
{% endblock Own_js %}
{% block end_js %}
{{ super() }}
<script src="/static/js/portrait/out_table.js"></script>
{% endblock end_js %}
