{% extends "tbase.html" %}
	{% block title %}社会感知{% endblock title %}
	{% block css %}
        {{ super() }}
        <style type="text/css">
            .dataTables_filter{text-align:right;margin-bottom:5px;}
            .dataTables_paginate{margin-top:-10px;margin-bottom:-20px;}

        </style>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
    {% endblock css %}
    {% block head_js %}
        {{ super() }}
        <script type="text/javascript" src="/static/js/jquery.datetimepicker.js"></script>
        <script type="text/javascript" src="/static/js/portrait/identify_table.js"></script>
    {% endblock head_js %}
    {% block main %}
    <h4 class="page-header">社会感知</h4>
    <!-- <div style="font-size:16px;font-weight:bold;">新建任务</div> -->
    <div class='controls'>
        <div class='col-md-12' style='padding:0px;margin-top:5px;'>
            <div class='col-lg-4' style='padding:0px;width: 360px;margin: 0px;'>
                 <span style="margin-top:5px;width:50px;float:left;display:inline-block;margin-right: 10px;">名称 </span>
    			 <!-- <label class='control-label' style='padding-top:5px;'>名称：</lable> -->
                 <input id="so_name" type='text' class="form-control" style='width: 280px;padding:0px; /* font-size:8px; */margin-top:5px;display:inline-block;height:25px' placeholder='（必填）仅包含汉字、英文、数字和下划线'>
            </div>
            <div class='col-lg-4' style='padding:0px;width: 360px;'>
                 <span style="margin-top:5px;width:50px;float:left;display:inline-block">备注 </span>
                 <!-- <label class='control-label' style='padding-top:5px;'>备注：</lable> -->
                 <input id="so_remarks" type='text' class="form-control" style='width: 280px;padding:0px;/* font-size:8px; */ margin-top:5px;display:inline-block;height:25px' placeholder='（选填）仅包含汉字、英文、数字和下划线'>
            </div>
            <div class='col-lg-4' style='padding:0px;width: 280px;'>
                 <span style="margin-top:5px;float:left;display:inline-block;width: 80px;">终止时间 </span>
                 <!-- <label class='control-label' style='padding-top:5px;'>终止时间：</lable> -->
                 <input name="so_end_time" type='text' class="form-control" style='width:200px;margin-top:5px; display:inline-block;height:25px'>
            </div>
        </div>
    </div>
    <label class='control-label' style='padding-top:5px;font-weight:lighter;margin-right:14px;'>传感词 </label>
    <input id="so_keywords" type='text' class="form-control" style='padding:0px;width: 280px;margin-top:10px;margin-right: 18px;  display:inline-block;height:25px' placeholder='（选填，敏感传感词）多个词用空格隔开'>
    <input id="so_keywords_nor" type='text' class="form-control" style='padding:0px;width: 280px;margin-top:10px;margin-right: 18px;  display:inline-block;height:25px' placeholder='（选填，普通传感词）多个词用空格隔开'>
    <!-- <input name="keys_choose_all" id="keys_choose_all" type="checkbox" value="" onclick="keys_choose_all()" />
    <span>全选</span> -->
    <span id="so_more" class="btn btn-default" style="height: 25px;font-size: 14px;padding-top: 0px;">更多已有传感词</span>
    <div id="show_keys" style="margin:5px;margin-left:63px;"></div>

    <div id='so_have_keys' class='controls'></div>
    <div class='col-md-12' style='padding:0px;'>
    <!-- <span class="input-group-addon" style="width:75px;border:1px solid white;font-weight:bold;float:left;background-color:white;display:inline-block;color:#333;">传感器</span> -->
      <label class='control-label' style='padding-top:5px;font-weight:lighter'>传感群 </lable>
      <input type='radio' style="margin-left:18px;" name="so_mode_choose" value='so_all_users' checked='checked'>
        <span  style="width:144px;margin-left:5px;display:inline-block" >全库用户</span>
        <input type='radio' name="so_mode_choose" value='so_have_users'>
        <span style="width:140px;margin-left:5px;display:inline-block" >已有群体</span>
        <a target='_blank' href='/index/group/' style='font-weight:bold;cursor:pointer;text-decoration:underline;' id='so_new_users'>更多自定义群体发现</a>
   </div>
    <div id='so_have_users_ext' class="box-content" style="display: none;padding: 0px;margin-top: 50px; ">
        <div id='so_group_task' class="box-content"  style="overflow-y:auto;max-height:300px;padding: 0px;width: 1000px;">
      </div>  
    </div>
    <div class="col-md-12" style='margin-top:10px;margin-bottom:30px;padding: 0px;'>
        <div class='col-md-12' style='text-align:right; padding-right: 0px;'>
            <span id="so_user_commit" class="label label-success" style='cursor:pointer; background-color:rgba(69, 133, 195, 0.89)'>新建任务</span>
        </div>
    </div>
    <br/>
    <div><hr style="width:1000px;"/></div>
    <div id='so_task_table' ></div>

    <div class="modal fade" id="so_keys_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">传感词与传感群</h4>
          </div>
          <div class="modal-body">
            <span>任务名称：</span><span id="so_group_name0" style="margin-left:13px;margin-right:250px;"></span>
            <div style="margin-top:10px;"><span style="margin-right:37px;">备注：</span>
            <span id="so_remark0" style="width:400px"></span></div>
            <div id="so_sensor_content" style="margin-top:10px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="so_his_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">历史状态</h4>
          </div>
          <div class="modal-body">
            <span>任务名称：</span><span id="so_group_name0" style="margin-left:18px;margin-right:250px;"></span>
            <div style="margin-top:10px;"><span >备注：</span>
            <span id="so_remark0" style="width:400px;margin-left:42px;"></span></div>
            <div style="margin-top:10px;"><span >敏感传感词：</span>
            <span id="so_sen_keys" style="width:400px;"></span></div>
            <div style="margin-top:10px;"><span style="float: left;">普通传感词：</span>
            <span id="so_nor_keys" style="width: 83%;display: inline-block;margin-left: 5px;"></span></div>
            <div id="so_his_content" style="margin-top:10px;"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="so_control" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">群组用户</h4>
          </div>
          <div class="modal-body">          
            <span>群体名称：</span><span id="have_sensor_name" style="margin-left:10px;margin-right:250px;"></span>
            <span style="margin-left:10px;">备注：</span>
            <span id="have_sensor_remark" style="width:400px"></span>
            <div id="so_control_confirm" style="margin-top:30px;overflow-y:auto;height:300px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="so_revise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">修改任务</h4>
          </div>
          <div class="modal-body">
            <span>群体名称：</span>
            <span id="so_re_group_name" style="margin-left:10px;margin-right:20px;"></span>
<!--             <span style="margin-left:10px;">备注：</span>
            <span id="so_re_remark" style="width:400px;margin-right:20px;"></span> -->
            <span style="margin-left:10px;">终止时间：</span>
            <input id="so_re_end_time" type='text' style='width:145px; display:inline-block;height:25px'>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="revise_confirm_button()">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="so_more_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document" style="width:850px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">已有传感词</h4>
          </div>
          <div class="modal-body">
            <div id="so_more_content" style="margin-top:10px;">
              <div style="font-size:18px;font-weight:bold;">敏感传感词<input style="margin-left:50px;margin-right:10px;" name="so_more_all_1" id="so_more_all_1" type="checkbox" value="" onclick="so_more_all_1()" /><span>全选</span></div>
              <div id="so_sen_content" style="margin:8px 0px;"></div>
              <hr>
              <div style="font-size:18px;font-weight:bold;">一般传感词<input style="margin-left:21px;margin-right:10px;" name="so_more_all_0" id="so_more_all_0" type="checkbox" value="" onclick="so_more_all_0()" /><span>全选</span></div>
              <div id="so_nor_content"  style="margin:8px 0px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock main %}
    {% block Own_js %}
        {{ super() }}

		<script type='text/javascript' src='/static/js/portrait/social_sensing.js'></script>
    {% endblock Own_js %}
